<div class="m-landing-door-alt">
  <div class="m-landing-door-alt__header">
    <a href="#">
      <img class="m-landing-door-alt__media" src="//placehold.it/592x332" alt="Landing Door">
    </a>
  </div>
  <div class="m-landing-door-alt__body">
    <h3 class="font-gamma m-landing-door-alt__title">Landing Door</h3>
    <div class="m-landing-door-alt__summary">
      <p>Summary will sit here.</p>
    </div>
    <div class="m-landing-door-alt__link">
      <a class="a-brand-link" href="#">Know more<span class="visuallyhidden"> about Landing Door</span></a>
    </div>
  </div>
</div>
