<div class="o-galleries">
  <div class="container">
    <div class="m-block__columns">
      <div class="m-block__column">
        <h2 class="font-gamma m-block__title">Gallery</h2>
      </div>
      <div class="m-block__column">
        <p>This is a gallery that has 4 columns (on large screens) and 2 columns on smaller ones.</p>
      </div>
    </div>
    <div class="m-block__media o-galleries__cards o-galleries__cards--4">
      <div class="m-card-artwork">
        <div class="m-card-artwork__header">
          <a href="/static/pages/exhibition.php">
            <img class="m-card-artwork__media" src="//placehold.it/300x330" alt="Artwork title 0" width="300" height="330">
          </a>
        </div>
        <div class="m-card-artwork__body">
          <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 0</a>
          </h3>
          <div class="m-card-artwork__summary font-smallprint">
            <p>This is a gallery that has 4 columns (on large screens) and 2 columns on smaller ones.</p>
          </div>
          <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
        </div>
      </div>
      <div class="m-card-artwork">
        <div class="m-card-artwork__header">
          <a href="/static/pages/exhibition.php">
            <img class="m-card-artwork__media" src="//placehold.it/300x270" alt="Artwork title 1" width="300" height="270">
          </a>
        </div>
        <div class="m-card-artwork__body">
          <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 1</a>
          </h3>
          <div class="m-card-artwork__summary font-smallprint">
            <p>This is a gallery that has 4 columns (on large screens) and 2 columns on smaller ones.</p>
          </div>
          <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
        </div>
      </div>
      <div class="m-card-artwork">
        <div class="m-card-artwork__header">
          <a href="/static/pages/exhibition.php">
            <img class="m-card-artwork__media" src="//placehold.it/300x350" alt="Artwork title 2" width="300" height="350">
          </a>
        </div>
        <div class="m-card-artwork__body">
          <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 2</a>
          </h3>
          <div class="m-card-artwork__summary font-smallprint">
            <p>This is a gallery that has 4 columns (on large screens) and 2 columns on smaller ones.</p>
          </div>
          <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
        </div>
      </div>
      <div class="m-card-artwork">
        <div class="m-card-artwork__header">
          <a href="/static/pages/exhibition.php">
            <img class="m-card-artwork__media" src="//placehold.it/300x290" alt="Artwork title 3" width="300" height="290">
          </a>
        </div>
        <div class="m-card-artwork__body">
          <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 3</a>
          </h3>
          <div class="m-card-artwork__summary font-smallprint">
            <p>This is a gallery that has 4 columns (on large screens) and 2 columns on smaller ones.</p>
          </div>
          <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
        </div>
      </div>
      <div class="m-card-artwork">
        <div class="m-card-artwork__header">
          <a href="/static/pages/exhibition.php">
            <img class="m-card-artwork__media" src="//placehold.it/300x350" alt="Artwork title 4" width="300" height="350">
          </a>
        </div>
        <div class="m-card-artwork__body">
          <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 4</a>
          </h3>
          <div class="m-card-artwork__summary font-smallprint">
            <p>This is a gallery that has 4 columns (on large screens) and 2 columns on smaller ones.</p>
          </div>
          <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
        </div>
      </div>
      <div class="m-card-artwork">
        <div class="m-card-artwork__header">
          <a href="/static/pages/exhibition.php">
            <img class="m-card-artwork__media" src="//placehold.it/300x300" alt="Artwork title 5" width="300" height="300">
          </a>
        </div>
        <div class="m-card-artwork__body">
          <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 5</a>
          </h3>
          <div class="m-card-artwork__summary font-smallprint">
            <p>This is a gallery that has 4 columns (on large screens) and 2 columns on smaller ones.</p>
          </div>
          <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
        </div>
      </div>
      <div class="m-card-artwork">
        <div class="m-card-artwork__header">
          <a href="/static/pages/exhibition.php">
            <img class="m-card-artwork__media" src="//placehold.it/300x330" alt="Artwork title 6" width="300" height="330">
          </a>
        </div>
        <div class="m-card-artwork__body">
          <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 6</a>
          </h3>
          <div class="m-card-artwork__summary font-smallprint">
            <p>This is a gallery that has 4 columns (on large screens) and 2 columns on smaller ones.</p>
          </div>
          <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
        </div>
      </div>
      <div class="m-card-artwork">
        <div class="m-card-artwork__header">
          <a href="/static/pages/exhibition.php">
            <img class="m-card-artwork__media" src="//placehold.it/300x270" alt="Artwork title 7" width="300" height="270">
          </a>
        </div>
        <div class="m-card-artwork__body">
          <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 7</a>
          </h3>
          <div class="m-card-artwork__summary font-smallprint">
            <p>This is a gallery that has 4 columns (on large screens) and 2 columns on smaller ones.</p>
          </div>
          <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
        </div>
      </div>
    </div>
  </div>
</div>
