<form class="m-newsletter" action="//www.pages03.net/thebarnesfoundation/EmailPreferences/Opt-In?vs=YTg4NTA4MTAtNjcwZS00MjRmLTg2M2QtNDhlZjQ0OGUxN2ExOzsS1" method="post" novalidate data-behavior="Newsletter FormValidate">
  <div class="m-newsletter__signup" aria-hidden="false">
    <div class="form-field__error form-field__error--summary hidden" tabindex="-1" aria-hidden="true">
      <h3 class="font-bold-heading visuallyhidden">Please correct your errors</h3>
    </div>
    <div class="form-field m-newsletter__field">
      <label class="visuallyhidden" for="subscribe">Enter your email address</label>
      <input class="m-newsletter__input" type="email" name="Email" id="subscribe" placeholder="Email address" required aria-required="true" aria-describedby="emailerror1">
      <button class="m-newsletter__btn btn" type="submit">
        <span class="m-newsletter__wording">Subscribe</span>
        <span class="m-newsletter__icon">
          <svg width="13" height="20" aria-label="Subscribe"><use xlink:href="#icon--icon_arrow-right"></use></svg>
        </span>
      </button>
      <div aria-hidden="true" class="form-field__error hidden" role="alert" tabindex="-1" id="emailerror1">Enter a valid email address</div>
      <input name="formSourceName" value="StandardForm" type="hidden">
      <!-- DO NOT REMOVE HIDDEN FIELD sp_exp -->
      <input type="hidden" name="sp_exp" value="yes">
    </div>
  </div>
  <div aria-hidden="true" class="hidden font-delta m-newsletter__loading" role="alert">
    Processing your request&hellip;
  </div>
  <div aria-hidden="true" class="hidden font-delta color-brand m-newsletter__success" role="alert">
    Thanks for subscribing to our newsletter
  </div>
</form>
