<div class="m-page-intro">
  <a class="font-smallprint a-breadcrumb m-page-intro__breadcrumb" href="/pages/whats-on.php">
    <svg width="27" height="10" class="a-breadcrumb__icon">
      <use xlink:href="#icon--icon_arrow-back"></use>
    </svg>
    <span class="a-breadcrumb__label">Back</span>
  </a>
  <h1 class="page-title m-page-intro__title">Page title</h1>
  <div class="m-page-intro__summary font-chapo">
    <p>The art of the page summary: convince people in a small paragraph that the rest of the page is worth reading&hellip;</p>
  </div>
</div>