@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

// It looks like we do import this here because there is no jsx for it.
// Though, maybe that means this style shouldn't be in the components folder?
@import '../../components/CollectionFilters/mobileFilters.scss';

// @see https://www.kirupa.com/html5/ken_burns_effect_css.htm


.shaded-background {
  position: relative;
  overflow-x: hidden;

  &--header {
    position: inherit;
  }

  &__tint {
    position: absolute;
    background-color: black;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition: opacity 0.5s ease;

    @include breakpoint('medium-') {
      position: fixed;
      top: 0;
      height: 100vh;
      // z-index: 4;
    }

    &--active {
      z-index: 1;
      opacity: 0.2;
    }

    &--higher {
      position: fixed;
      top: 0;
      height: 100vh;
      z-index: 4;
    }
  }
}

.landing-page-header-wrap {
  overflow: hidden;
}

.app-landing-page {
  .landing-page-header {
    // the mock shows a font size outside the styleguide
    // make it look good on medium screen sizes
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
    margin-top: 0px;
    color: white;
    height: 100%;
  }

  .landing-page-image {
    width: 100%;
    background-color: $color-white;
  }

  .collection-filters-wrap {
    text-align: center;
    // padding-bottom: 0;

    // Uncomment if this will be fixed to bottom.
    // position: fixed;
    // bottom: 0;
    // z-index: 7;

    width: 100%;
    background-color: $color-white;

    

    .btn-no-style {
      // the styleguide size for btn is too big
      line-height: 2em;
      // this shows up on the small size
      margin-top: 0;
    }

    @include breakpoint('large+') {
      border-top: 1px $color-grey-super-light solid;
      
      // stay below the header
      // @include set-top-header-height();

      position: relative;
      background: transparent;
      // a little less than the styleguide padding
      // padding-bottom: 1rem;

      // stay under the header. Unless the mobile-panel is open
      // z-index: $z-index-mobile-panel-overlay;
      .mobile-panel-open & {
        // z-index: $z-index-mobile-panel;
      }
    }
  }

  // .g-header {
  //   @include breakpoint('medium+') {
  //     background-color: rgba(0, 0, 0, 0.2);
      
  //     transition: background-color 250ms ease, transform 300ms ease;
  //     transition-property: background-color, transform;
  //     transition-duration: 250ms, 300ms;
  //     transition-timing-function: ease, ease;
  //     transition-delay: 0s, 0s;
  //   }
  // }

  @media print {
    .mobile-buttons-set {
      display: none;
    }
  }
}


@keyframes opacity-animation {
  0%   { opacity: 1; }
  90%  { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes opacity-animation {
  0%   { opacity: 1; }
  90%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes opacity-animation {
  0%   { opacity: 1; }
  90%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes opacity-animation {
  0%   { opacity: 1; }
  90%  { opacity: 1; }
  100% { opacity: 0; }
}

.o-hero {
  $spaceSmall: 19px;
  $spaceMedium: 40px;
  $spaceLarge: 60px;

  position: relative;

  &:after {
    height: auto;
  }

  &--landing-page {
    overflow: hidden;
    max-height: 55vh;

    @include breakpoint('medium+') {
      // max-height: 600px;
      max-height: 55vh;
    }

    @include breakpoint('large+') {
      max-height: 70vh;
    }
  }

  &__container {
    z-index: 2;
  }

  &__supporting {
    position: absolute;
    bottom: 0;

    @include breakpoint('medium-') {
      line-height: 1.2;
    }

    opacity: 1;

    transition: opacity 1s ease;

    &--hidden {
      opacity: 0;
    }
  }

  &__inner {
    z-index: 2;
  }

  &__image-wrapper {
    z-index: 1;
    width: 100%;

    height: 55vh;

    @include breakpoint('large+') {
      height: 70vh;
    }

    position: relative;
    overflow: hidden;
  }

  &__image {
    height: 100%;
    width: auto;

    @include breakpoint('medium+') {
      height: auto;
      width: 100%;
    }

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: transform 10s ease-in-out, opacity 500ms linear 9500ms;
    
    z-index: -1;

    &--start {
      z-index: 0;
    }

    &--active {
      z-index: 1;
    }

    &--lazy {
      opacity: 1;
      z-index: 2;
    }

    &--0 {
      &--start {
        transform: translate3d(8px, 105px, 0px) scale(1.3);

        @include breakpoint('medium+') {
          transform: translate3d(55px, 100px, 0px) scale(1.55);
        }

        @include breakpoint('large+') {
          transform: translate3d(15px, 150px, 0px) scale(1.6);
        }

        @include breakpoint('xlarge+') {
          transform: translate3d(15px, 20px, 0px) scale(1.5);
        }
      }

      &--active {
        transform: translate3d(-8px, 105px, 0px) scale(1.35);

        @include breakpoint('medium+') {
          transform: translate3d(35px, 100px, 0px) scale(1.6);
        }

        @include breakpoint('large+') {
          transform: translate3d(-15px, 140px, 0px) scale(1.65);
        }

        @include breakpoint('xlarge+') {
          transform: translate3d(-15px, 20px, 0px) scale(1.55);
        }
      }
    }

    &--1 {
      &--start {
        transform: translate3d(0px, 80px, 0px) scale(1.1);

        @include breakpoint('medium+') {
          transform: translate3d(25px, 100px, 0px) scale(1.8);
        }

        @include breakpoint('large+') {
          transform: translate3d(25px, 100px, 0px) scale(1.8);
        }

        @include breakpoint('xlarge+') {
          transform: translate3d(25px, -50px, 0px) scale(1.2);
        }
      }

      &--active {
        transform: translate3d(-10px, 80px, 0px) scale(1.1);

        @include breakpoint('medium+') {
          transform: translate3d(0px, 100px, 0px) scale(1.8);
        }

        @include breakpoint('large+') {
          transform: translate3d(0px, 100px, 0px) scale(1.8);
        }

        @include breakpoint('xlarge+') {
          transform: translate3d(-25px, -50px, 0px) scale(1.2);
        }
      }
    }

    &--2 {      
      &--start {
        transform: translate3d(20px, 80px, 0px) scale(1.2);


        @include breakpoint('medium+') {
          transform: translate3d(20px, 50px, 0px) scale(1.5);
        }

        @include breakpoint('large+') {
          transform: translate3d(20px, 30px, 0px) scale(1.2);
        }

        @include breakpoint('xlarge+') {
          transform: translate3d(20px, -60px, 0px) scale(1.1);
        }
      }

      &--active {
        transform: translate3d(20px, 100px, 0px) scale(1.25);

        @include breakpoint('medium+') {
          transform: translate3d(20px, 45px, 0px) scale(1.55);
        }

        @include breakpoint('large+') {
          transform: translate3d(20px, 20px, 0px) scale(1.25);
        }

        @include breakpoint('xlarge+') {
          transform: translate3d(20px, -70px, 0px) scale(1.15);
        }
      }
    }

    &--3 {      
      &--start {
        transform: translate3d(10px, 20px, 0px) scale(1.3);

        @include breakpoint('medium+') {
          transform: translate3d(10px, 50px, 0px) scale(1.7);
        }

        @include breakpoint('large+') {
          transform: translate3d(10px, -100px, 0px) scale(1.7);
        }

        @include breakpoint('xlarge+') {
          transform: translate3d(10px, -250px, 0px) scale(1.2);
        }
      }

      &--active {
        transform: translate3d(10px, 20px, 0px) scale(1.35);

        @include breakpoint('medium+') {
          transform: translate3d(10px, 50px, 0px) scale(1.75);
        }

        @include breakpoint('large+') {
          transform: translate3d(10px, -100px, 0px) scale(1.75);
        }

        @include breakpoint('xlarge+') {
          transform: translate3d(10px, -250px, 0px) scale(1.25);
        }
      }
    }

    &--4 {      
      &--start {
        transform: translate3d(-10px, 0px, 0px) scale(1.65);

        @include breakpoint('medium+') {
          transform: translate3d(0px, 50px, 0px) scale(1.85);
        }

        @include breakpoint('large+') {
          transform: translate3d(0px, 100px, 0px) scale(1.45);
        }

        @include breakpoint('xlarge+') {
          transform: translate3d(0px, -105px, 0px) scale(1.4);
        }
      }

      &--active {
        transform: translate3d(-10px, -10px, 0px) scale(1.6);

        @include breakpoint('medium+') {
          transform: translate3d(0px, 50px, 0px) scale(1.75);
        }

        @include breakpoint('large+') {
          transform: translate3d(0px, 100px, 0px) scale(1.4);
        }

        @include breakpoint('xlarge+') {
          transform: translate3d(0px, -80px, 0px) scale(1.3);
        }
      }
    }
  }

  &__video-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      background: $color-white;
      overflow: hidden;

      &:after {
        content: ' ';
      }
  }

  &__video {
    object-fit: fill;
    height: auto;
    width: 200%;

    transform: translateX(-25%);
    
    @include breakpoint('medium+') {
      width: 110%;      
      transform: translateX(-5%);
    }

    // @include breakpoint('large+') {
    //   transform: translate(-5%, -20%);
    // }

    // opacity: 0;
    // transition: opacity 1000ms ease 0s;
  }

  &__copy {
    bottom: $spaceSmall;
    pointer-events: auto;
    position: absolute;
    z-index: #{map-get($zIndexes, 'heroCopy')};
    

    @include breakpoint('medium+') {
      bottom: $spaceMedium;
    }

    @include breakpoint('large+') {
      bottom: $spaceLarge;
    }

    @media print {
      bottom: auto;
      position: relative;
    }
  }

  &__supporting {
    font-size: 28px;

    @include breakpoint('medium+') {
      font-size: 32px;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 0;
  }
}