<div class="m-block m-block--shallow m-support">
  <h2 class="font-delta m-block__shallow-title">Support block <span class="color-light m-block__shallow-title-price"></span></h2>
  <div class="m-block__columns m-support__content">
    <div class="m-block__column">
      <p>Additional exclusive benefits including private events and travel opportunities are available through our premier membership program, The Circles, and our young patrons membership, The Contemporaries.</p>
      <p>Additional exclusive benefits including private events and travel opportunities are available through our premier membership program, The Circles, and our young patrons membership, The Contemporaries.</p>
    </div>
    <div class="m-block__column">
      <div class="m-btn-group m-support__btn-group">
        <a class="btn" href="#">Give a Gift</a>
        <a class="btn" href="#">Renew</a>
        <a class="btn btn--primary" href="#">Join</a>
      </div>
    </div>
  </div>
</div>
