<div class="m-tag-list " data-behavior="TagList">
  <!-- Small screen = <select>. Use JS to navigate -->
  <div class="m-tag-list__select select">
    <label class="visuallyhidden" for="tagid1" id="tagid1-label">Filter events</label>
    <select name="taglist" id="tagid1" class="html4-hidden">
      <option value="/static/pages/homepage.php" selected>All Type</option>
      <option value="/static/pages/class.php">Families</option>
      <option value="/static/pages/event.php">School</option>
      <option value="#">Members Only</option>
      <option value="#">Music</option>
      <option value="#">Lectures</option>
      <option value="#">Nightlife</option>
      <option value="#">Exhibitions</option>
      <option value="#">Free</option>
    </select>
  </div>
  <!-- Large screen = list of links -->
  <ul class="m-tag-list__list" aria-labelledby="tagid1-label">
    <li class="m-tag-list__item">
      <a class="a-tag" href="/static/pages/homepage.php" aria-current="true">All Type</a>
    </li>
    <li class="m-tag-list__item">
      <a class="a-tag" href="/static/pages/class.php">Families</a>
    </li>
    <li class="m-tag-list__item">
      <a class="a-tag" href="/static/pages/event.php">School</a>
    </li>
    <li class="m-tag-list__item">
      <a class="a-tag" href="#">Members Only</a>
    </li>
    <li class="m-tag-list__item">
      <a class="a-tag" href="#">Music</a>
    </li>
    <li class="m-tag-list__item">
      <a class="a-tag" href="#">Lectures</a>
    </li>
    <li class="m-tag-list__item">
      <a class="a-tag" href="#">Nightlife</a>
    </li>
    <li class="m-tag-list__item">
      <a class="a-tag" href="#">Exhibitions</a>
    </li>
    <li class="m-tag-list__item">
      <a class="a-tag" href="#">Free</a>
    </li>
  </ul>
</div>
