@import '../../scss/variables.scss';

.component-art-object-grid {
  // use a border and negative margin to frame the image without covering it
  .art-object-overlay,
  .art-object-caption {
    left: -$art-object-overlay-border-width;
    right: -$art-object-overlay-border-width;
    border: $art-object-overlay-border-width solid white;
    z-index: 2;
    position: absolute;
  }

  .art-object-overlay {
    // to be revealed
    top: -$art-object-overlay-border-width;
    bottom: -$art-object-overlay-border-width;
    display: none;
  }

  .masonry-grid-element {
    margin: $art-object-grid-gap / 2;
    position: relative;

    &:hover {
      .art-object-overlay {
        display: block;
      }
    }

    img {
      display: block;
    }
  }

  .art-object-caption {
    background: white;
    top: 100%;

    .h2,
    .h3 {
      line-height: 1.5em;
      margin: 0;
    }
  }
}
