@import '../../scss/variables.scss';
@import '../../scss/_mixins.scss';

.component-art-object-grid {
  opacity: 0;
  transition: opacity 0.75s ease;

  &.fade-in {
    opacity: 1;
    transition: opacity 0.75s ease;
  }

  &[data-grid-style="full-size"] {
    // A full screen grid should default to exactly 4 columns on large screens.
    @include breakpoint('large+') {
      .masonry-grid-element {
        max-width: 25%;
      }
    }

    @include breakpoint('medium-') {
      .masonry-grid-element {
        max-width: 33.33%;
      }
    }

    @include breakpoint('small-') {
      .masonry-grid-element {
        max-width: 50%;
      }
    }
  }

  // use a border and negative margin to frame the image without covering it
  .art-object-overlay,
  .art-object-caption {
    left: -$art-object-overlay-border-width;
    right: -$art-object-overlay-border-width;
    border: $art-object-overlay-border-width solid white;
    z-index: $z-index-art-object-grid-overlay;
    position: absolute;
  }

  .art-object-overlay {
    // to be revealed
    top: -$art-object-overlay-border-width;
    bottom: -$art-object-overlay-border-width;
    display: none;
  }

  .component-masonry-grid {
    margin: 0;
    padding: 0;

    &[data-hidden="true"] {
      visibility: hidden;
    }
  }

  .masonry-grid-element {
    padding: $art-object-grid-gap / 2;
    margin: 0;
    position: relative;
    max-width: 50%;

    img {
      display: block;
    }

    a {
      display: inline-block;

      &:hover,
      &:focus {
        .art-object-overlay {
          display: block;
        }
      }
    }
  }

  .art-object-caption {
    background: white;
    top: 100%;

    .h2,
    .h3 {
      line-height: 1.5em;
      margin: 0;
    }
  }

  .view-more-button {
    width: 100%;
    text-align: center;
    z-index: $z-index-art-object-grid-view-more;

    // give it a background for now. Later solve the text overlap problem
    .btn {
      background: $color-white;
    }
  }
}
