<div class="m-block m-block--media">
  <div class="m-block__columns">
    <div class="m-block__column">
      <h2 class="font-gamma m-block__title">Media videoblock</h2>
    </div>
    <div class="m-block__column">
      <p>An opening intro to the media block sits directly above the actual media which is 100% width.</p>
    </div>
  </div>
  <div class="m-block__media">
    <div class="embed-responsive" data-behavior="EmbedResponsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/iwHsCXHT14c" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
