{# Avoid awkward situation where an include inside an include is rejected by a PHP template #}
{% if path is not defined %}
  {% set path = '../' %}
{% endif %}

{% set artwork = true %}

{# If some key variables are missing, load in the default content #}
{% if title is empty %}
  {% set title = 'Media imageblock 100% width' %}
{% endif %}

{% if intro is empty %}
  {%
    set intro = [
      '<p>An opening intro to the media block sits directly above the actual media which is 100% width.</p>'
    ]
  %}
{% endif %}

{% if media is empty %}
  {%
    set media = [
      {
        artwork: true,
        fullWidth: true,
        id: 1
      }
    ]
  %}
{% endif %}

{% if summary is empty %}
  {%
    set summary = [
      '<p>An optional comment beneath the media.</p>'
    ]
  %}
{% endif %}

<div class="m-block m-block--no-border m-block--flush-top">
  {#

    MEDIA Just one image
    ---
    1 show one 100% width image
    2 show one 50% width image/artwork card on right side of container

  #}
  {% if artwork is defined and media|length < 2 %}
  {% set mediaDone = true %}
    {% for item in media %}
      {% if item.fullWidth is defined %}
        {% include path ~ 'card-artwork/_card-artwork--100pc.twig' with item %}
      {% else %}
          <div class="m-block__columns">
            <div class="m-block__column">&nbsp;</div>
            <div class="m-block__column">
              {% include path ~ 'card-artwork/_card-artwork.twig' with item %}
            </div>
          </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {#

    MEDIA one or many images (or an embed)
    ---
    1 - show one or more full-width image/artwork card
    2 - show two x 50% width image/artwork card (show columns)
    3 - show one video or audio file (it's an iframe basically)

  #}
  {% if artwork is empty or media|length > 1 and mediaDone is empty %}
  <div class="{% if artwork is defined and media|length > 1 %} m-block__columns{% endif %}">
    {% for item in media %}
      {% if artwork is defined %}
        {% if item.fullWidth is defined %}
          {% include path ~ 'card-artwork/_card-artwork--100pc.twig' %}
        {% else %}
          {% if media|length > 1 %}<div class="m-block__column">{% endif %}
          {% include path ~ 'card-artwork/_card-artwork.twig' with item %}
          {% if media|length > 1 %}</div>{% endif %}
        {% endif %}
      {% else %}
        <div class="embed-responsive" data-behavior="EmbedResponsive">
          {{ item.source|raw }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>
