<div class="m-block m-block--media">
  <div class="m-block__columns">
    <div class="m-block__column">
      <h2 class="font-gamma m-block__title">Media audioblock</h2>
    </div>
    <div class="m-block__column">
      <p>An opening intro to the media block sits directly above the actual media which is 100% width.</p>
    </div>
  </div>
  <div class="m-block__media">
    <div class="embed-responsive" data-behavior="EmbedResponsive">
      <iframe width="100%" height="165" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/61140267&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
</div>
