<div class="m-block m-block--no-border m-block--flush-top">
  <div class="m-card-artwork">
    <div class="m-card-artwork__header">
      <a href="/static/pages/exhibition.php">
        <img class="m-card-artwork__media m-card-artwork__media--100pc" src="//placehold.it/1440x580" alt="Media imageblock 100% width">
      </a>
    </div>
    <div class="m-card-artwork__body">
      <h3 class="font-bold-heading m-card-artwork__title"><a href="/static/pages/exhibition.php">Media imageblock 100% width</a></h3>
      <div class="m-card-artwork__summary">
        <p>An optional comment beneath the media.</p>
      </div>
      <div class="m-card-artwork__copyright">&copy; 2017 Name of someone</div>
    </div>
  </div>
  <div class="">
    <div class="m-card-artwork">
      <div class="m-card-artwork__header">
        <a href="/static/pages/exhibition.php">
          <img class="m-card-artwork__media m-card-artwork__media--100pc" src="//placehold.it/1440x580" alt="Media imageblock 100% width">
        </a>
      </div>
      <div class="m-card-artwork__body">
        <h3 class="font-bold-heading m-card-artwork__title"><a href="/static/pages/exhibition.php">Media imageblock 100% width</a></h3>
        <div class="m-card-artwork__summary">
          <p>An optional comment beneath the media.</p>
        </div>
        <div class="m-card-artwork__copyright">&copy; 2017 Name of someone</div>
      </div>
    </div>
  </div>
</div>
