@import '../../scss/variables.scss';

$preAnimationFadeTime: .15s;
$animationTime: .45s;

.component-m-support-accordion {
  border-bottom: $border-style;
  margin-bottom: 2rem;

  [role="tabpanel"] {
    display: block;
  }

  // shift the padding to the button so that you can click anywhere
  .m-support-accordion-element {
    .m-support-accordion__title {
    }
  }

  .m-accordion-tabs__title {
    background: none;
    border-left: none;
    border-right: none;
  }

  // use this animation for now which doens't require us to measure the height.
  // this won't work for images though... If we need to include images
  // we'll probably have to use a more involved solution that measures the container's height.

  .m-accordion-tabs__body,
  .m-support-accordion__body {
    opacity: 1;
    transition: opacity $animationTime $preAnimationFadeTime,
      font-size $preAnimationFadeTime,
      margin-top $preAnimationFadeTime,
      padding-top $preAnimationFadeTime,
      margin-bottom $preAnimationFadeTime,
      padding-bottom $preAnimationFadeTime;

    &[aria-hidden="true"] {
      font-size: 0;
      opacity: 0;

      & * {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }

      /* just shrink while fading out, but do it all fast */
      transition: opacity $preAnimationFadeTime,
        font-size $preAnimationFadeTime,
        margin-top $preAnimationFadeTime,
        padding-top $preAnimationFadeTime,
        margin-bottom $preAnimationFadeTime,
        padding-bottom $preAnimationFadeTime;

      // undo the settings above for print media
      @media print {
        opacity: 1;
        transition: none;
        font-size: 1em;
      }
    }
  }
}
