{#

shopify-hero component

#}

{# Avoid awkward situation where an include inside an include is rejected by a PHP template #}
{% if path is not defined %}
  {% set path = '../' %}
{% endif %}

{% if backgroundColor is empty %}
  {% set backgroundColor = '#123456' %}
{% endif %}
{% if title is empty %}
  {% set title = 'The Barnes Foundation Online Store' %}
{% endif %}
{% if images is empty %}
  {%
    set images = {
      mobile: '//placehold.it/659x659',
      desktop: '//placehold.it/1380x282'
  }
  %}
{% endif %}

<div class="o-hero o-hero--page-title m-shopify-hero">
  <div class="o-hero__inner">
    <div class="container">
      <h1 class="page-title page-title--shopify">{{ title | raw }}</h1>
    </div>
  </div>
  <picture>
    <source media="(min-width: 650px)" srcset="{{ images.desktop }}" type="image/jpeg">
    <img class="o-hero__image" src="{{ images.mobile }}" alt="">
  </picture>
</div>
