<div class="m-block m-block--shallow m-support-accordion">
  <button type="button" class="font-delta m-block__shallow-title m-support-accordion__title" aria-selected="false" role="tab" tabindex="0" aria-controls="accordion1101" aria-expanded="false">
    <h3>Support block (toggle) <span class="color-light m-block__shallow-title-price"></span></h3>
    <span class="m-support-accordion__btn">
      <span class="m-support-accordion__toggle--show">Show details</span>
    <span class="m-support-accordion__toggle--hide">Hide details</span>
    </span>
  </button>
  <div id="accordion1101" class="m-support-accordion__body" aria-labelledby="accordion1101" aria-hidden="true" role="tabpanel">
    <div class="m-block__columns">
      <div class="m-block__column">
        <p>Additional exclusive benefits including private events and travel opportunities are available through our premier membership program, The Circles, and our young patrons membership, The Contemporaries.</p>
        <p>Additional exclusive benefits including private events and travel opportunities are available through our premier membership program, The Circles, and our young patrons membership, The Contemporaries.</p>
      </div>
      <div class="m-block__column m-support-accordion__sidebar">
        <p></p>
      </div>
    </div>
  </div>
</div>
