<div class="m-block m-block__columns m-block__columns--sm-linear">
  <div class="m-block__column">
    <h2 class="font-gamma m-block__title">Speakers</h2>
  </div>
  <div class="m-block__column">
    <div class="m-speaker-list">
      <div class="m-speaker">
        <div class="m-speaker__header">
          <img class="m-speaker__image" src="//placehold.it/275x275" alt="">
          <div class="m-speaker__synopsis">
            <h3 class="font-delta m-speaker__title">Speaker one</h3>
            <div class="font-delta m-speaker__subtitle">Job title for speaker</div>
          </div>
        </div>
        <div class="m-speaker__summary">
          <p>This is the summary for speaker number one.</p>
        </div>
      </div>
      <div class="m-speaker">
        <div class="m-speaker__header">
          <img class="m-speaker__image" src="//placehold.it/275x275" alt="">
          <div class="m-speaker__synopsis">
            <h3 class="font-delta m-speaker__title">Speaker two</h3>
            <div class="font-delta m-speaker__subtitle">Job title for speaker</div>
          </div>
        </div>
        <div class="m-speaker__summary">
          <p>This is the summary for speaker number two it is a little longer than the first summary and it is intended to show the copy breaking onto multiples lines so we can test it on different devices.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
