ELASTICSEARCH_HOST=<url_of_the_elasticsearch_instance>
ELASTICSEARCH_USERNAME=<username_for_es_instance>
ELASTICSEARCH_PASSWORD=<password_for_es_instance>
ELASTICSEARCH_PORT=<port_for_es_instance>
ELASTICSEARCH_PROTOCOL=https
ELASTICSEARCH_INDEX=<set to override; defaults to latest complete collection index>

# for local dev
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_PROTOCOL=http

AWS_BUCKET=<s3_bucket_for_all_images>
AWS_REGION=<region_for_s3_bucket>
AWS_ACCESS_KEY=<aws_access_key>
AWS_SECRET_KEY=<aws_secret_access_key>

WUFOO_SUBDOMAIN=
WUFOO_USERNAME=
WUFOO_PASSWORD=
WUFOO_DOWNLOAD_FORM=

# all variables accessible in react app must be prefixed by REACT_APP_
REACT_APP_AWS_BUCKET=<same_as_aws_bucket>
REACT_APP_IMAGES_PREFIX=<directory_for_images_within_bucket>
REACT_APP_PRINTS_ENDPOINT=<url_for_json_map_from_accession_number_to_print_url>
REACT_APP_IMAGE_BASE_URL=<url_for_images>

# Note: there are different GA IDs for dev and prod
REACT_APP_GOOGLE_ANALYTICS_ID=<UA-xxxxxxxx-xx>

# For dev
REACT_APP_CANONICAL_ROOT=https://dev.collection.barnesfoundation.org
# For prod
# REACT_APP_CANONICAL_ROOT=https://collection.barnesfoundation.org

#default meta tags
REACT_APP_META_TITLE=<set to override; defaults to "Barnes Collection Online">
REACT_APP_META_DESCRIPTION="The Barnes Foundation in Philadelphia is home to one of the world's greatest collections of impressionist, post-impressionist and early modern paintings."
REACT_APP_META_PLACENAME="Barnes Foundation"
REACT_APP_META_IMAGE="https://s3.amazonaws.com/barnes-image-repository/images/5003_92ad85ffeb13d697_n.jpg"
REACT_APP_DEFAULT_TITLE_URL=<set to override; defaults to "barnes-collection-object">

# Feature Flags
REACT_APP_FEATURE_ZOOMABLE_IMAGE=<bool>

NODE_ENV=<production>

REACT_APP_NEWSLETTER_URL=<Post endpoint for subscription.>