.icon--icon_arrow-back {
	width: 27px;
	height: 10px;
}

.icon--icon_arrow-right {
	width: 10.65px;
	height: 17.77px;
}

.icon--icon_arrow_down {
	width: 20px;
	height: 20px;
}

.icon--icon_basket {
	width: 15px;
	height: 13.7px;
}

.icon--icon_close {
	width: 21px;
	height: 21px;
}

.icon--icon_enlarge {
	width: 16px;
	height: 18px;
}

.icon--icon_external {
	width: 17px;
	height: 10px;
}

.icon--icon_facebook {
	width: 19px;
	height: 19px;
}

.icon--icon_instagram {
	width: 20px;
	height: 20px;
}

.icon--icon_menu {
	width: 26px;
	height: 26px;
}

.icon--icon_pinterest {
	width: 20px;
	height: 20px;
}

.icon--icon_print {
	width: 20px;
	height: 18px;
}

.icon--icon_search {
	width: 26px;
	height: 26px;
}

.icon--icon_share {
	width: 20px;
	height: 18px;
}

.icon--icon_twitter {
	width: 21px;
	height: 20px;
}

.icon--icon_youtube {
	width: 23px;
	height: 16px;
}

.icon--logo-l {
	width: 164.958px;
	height: 50px;
}

.icon--logo-m {
	width: 146px;
	height: 45px;
}

.icon--logo-s {
	width: 121px;
	height: 37px;
}

.icon--logo-xl {
	width: 200px;
	height: 62px;
}

