@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

@import '../../../components/ArtObjectPageComponents/PanelDetails/index.scss';
@import '../../../components/ArtObjectPageComponents/PanelEnsemble/index.scss';
@import '../../../components/ArtObjectPageComponents/PanelVisuallyRelated/index.scss';

.component-art-object-page-shell {
  @include breakpoint('small-') {

    // fix style of how columns stack
    // todo: this needs to be more targeted.
    .m-block__column--page-col + .m-block__column--page-col {
      margin-top: $block-margin-small;
      padding-top: $block-margin-small;
      border-top: $border-style;
    }
  }

  .art-object__title {
    text-align: center;
    margin: 0 0 2rem 0;

    .component-modal & {
      // leave room for the closing X.
      // Use important because it seems some js is adding styles?
      width: auto;
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  // quick fixes.
  // todo #unifyFilterTags :Unify these with the styles in collectionFilters.scss
  .art-object__search-tags {
    margin-top: $block-margin-small;
  }

  .art-object__image-container {
    .filter-tag-set {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    .collection-filter-icon {
      margin: 0;
    }

    .filter-tag-text {
      margin: 0;
      margin-left: .5em;
    }

    .applied-filter-tag {
      cursor: initial;

      &.applied-filter-tag-color {
        padding: $collection-filter-padding-y;

        .color-filter-icon {
          margin: 0;
        }
      }

      .icon-cross-tag {
        // for now, just hide them this way.
        // it might be better to remove them with a flag in the component.
        display: none;
      }
    }
  }

  .art-object__image-information {
    margin: 0 auto;
  }

  .component-slider {
    margin-bottom: 20px;
  }

  .component-art-object-grid {
    .view-more-button {
      // do not show the view more button on this page.
      display: none;
    }
  }

  .m-tabs__link {
    &[data-is-disabled="true"] {
      cursor: default;
      pointer-events: none;
    }
  }
}