<div class="m-block m-block--no-border m-block__columns m-block__columns--sm-linear m-exhibition-detail">
  <div class="m-block__column m-block__columns">
    <!-- Prices -->
    <div class="m-block__column m-exhibition-detail__prices font-smallprint">
      Free drop-in for all ages
    </div>
    <!--/ Prices -->
    <!-- Meta  -->
    <div class="m-block__column m-exhibition-detail__meta font-smallprint"></div>
    <!--/ Meta -->
  </div>
  <!-- CTAs -->
  <div class="m-block__column m-exhibition-detail__cta">
    <a class="btn" href="#">Become a Member</a>
    <span class="btn btn--disabled">No Advance Booking</span>
  </div>
  <!--/ CTAs -->
</div>
