@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

@import './PanelDetails/index.scss';
@import './PanelEnsemble/index.scss';
@import './PanelVisuallyRelated/index.scss';

.app-art-object-page {
  @include breakpoint('small-') {

    // fix style of how columns stack
    // todo: this needs to be more targeted.
    .m-block__column--page-col + .m-block__column--page-col {
      margin-top: $block-margin-small;
      padding-top: $block-margin-small;
      border-top: $border-style;
    }
  }
}

