@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

@import '../../components/ArtObjectPageComponents/PanelDetails/index.scss';
@import '../../components/ArtObjectPageComponents/PanelEnsemble/index.scss';
@import '../../components/ArtObjectPageComponents/PanelVisuallyRelated/index.scss';

.app-art-object-page {
  @include breakpoint('small-') {

    // fix style of how columns stack
    // todo: this needs to be more targeted.
    .m-block__column--page-col + .m-block__column--page-col {
      margin-top: $block-margin-small;
      padding-top: $block-margin-small;
      border-top: $border-style;
    }
  }

  // quick fixes.
  // todo #unifyFilterTags :Unify these with the styles in collectionFilters.scss
  .art-object__search-tags {
    margin-top: $block-margin-small;
  }

  .art-object__image-container {
    .filter-tag-set {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    .collection-filter-icon {
      margin: 0;
    }

    .filter-tag-text {
      margin: 0;
      margin-left: .5em;
    }

    .applied-filter-tag {

      &.applied-filter-tag-color {
        padding: $collection-filter-padding-y;

        .color-filter-icon {
          margin: 0;
        }
      }

      .icon-cross-tag {
        // for now, just hide them this way.
        // it might be better to remove them with a flag in the component.
        display: none;
      }
    }
  }

  .component-slider {
    margin-bottom: 20px;
  }

  .component-art-object-grid {
    .view-more-button {
      // do not show the view more button on this page.
      display: none;
    }
  }
}
