
/***

Sponsor
=====
* Class name: `m-sponsor`
* Tags used on: `<div>`

A list of sponsors which sits inside a `m-block` with a title and a summary
proceeding the list.

If you want you can use an `m-sponsor` on its own without the `m-block`
container but even if you do that it is better to always keep them inside of
an `m-sponsor-list`.

The logos empty alt text eg `<img alt="">` because the sponsor name will always
convey the content as the logo/wordmark

***/

.m-sponsor-list {
  margin-bottom: 50px;
  margin-top: 25px;

  @include breakpoint('medium+') {
    margin-top: 41px;
  }

  @include breakpoint('large+') {
    margin-bottom: 15px;
    margin-top: 50px;
  }
}

// When we follow on from a heading we do not need such a large gap above
h2 + .m-sponsor-list,
h3 + .m-sponsor-list,
h4 + .m-sponsor-list {
  margin-top: 10px;

  @include breakpoint('medium+') {
    margin-top: 20px;
  }
}

.m-sponsor-list:last-child {
  margin-bottom: 18px;

  @include breakpoint('large+') {
    margin-bottom: 9px;
  }
}

/**
 * 1 in case the image is very short
 */
.m-sponsor {
  align-items: flex-start;
  border: 1px solid $color__border;
  display: flex;
  flex-direction: row-reverse;
  font-family: $sans-serif--loaded;
  font-size: 19px;
  font-weight: bold;
  min-height: 90px; /* 1 */

  @include breakpoint('medium+') {
    min-height: 125px; /* 1 */
  }
}

.m-sponsor + .m-sponsor {
  border-top: none;
}

.m-sponsor__media {
  flex: 1 0 auto;
  max-width: 50%;
  min-width: 170px;
  padding: 20px;
  text-align: right;

  @include breakpoint('large+') {
    max-width: 260px;
  }

  a, svg, img, object {
    display: block;
    margin: 0 0 0 auto;
  }

  svg, img, object {
    max-height: 120px;
    max-width: 100%;

    @include breakpoint('medium+') {
      max-height: 220px;
    }
  }
}

.m-sponsor__summary {
  flex: 1 0 0;
  padding: 12px 20px;

  // Remove margin on all child elements (usually a <h2> or a <p2>)
  > * {
    margin-top: 0;
  }
}
