<div class="m-block m-block--flush-top m-block--no-border m-centered-paragraph">
  <div class="m-centered-paragraph__container">
    <div class="m-sponsor-list">
      <div class="m-sponsor">
        <div class="m-sponsor__media">
          <img src="//placehold.it/130x90" alt="">
        </div>
        <div class="m-sponsor__summary">
          <p>
            <p>Sponsor name 1</p>
          </p>
        </div>
      </div>
      <div class="m-sponsor">
        <div class="m-sponsor__media">
          <img src="//placehold.it/130x90" alt="">
        </div>
        <div class="m-sponsor__summary">
          <p>
            <p>A slightly longer sponsor name #CMS</p>
          </p>
        </div>
      </div>
      <div class="m-sponsor">
        <div class="m-sponsor__media">
          <img src="//placehold.it/220x150" alt="">
        </div>
        <div class="m-sponsor__summary">
          <p>
            <p>Sponsor name 3</p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
