{#

Sponsor list component

#}

{# Avoid awkward situation where an include inside an include is rejected by a PHP template #}
{% if path is not defined %}
  {% set path = '../' %}
{% endif %}

{# If some key variables are missing, load in the default content #}
{% if title is empty %}
  {% set title = 'Our sponsors' %}
  {% set content = [
    '<h3 class="font-delta">A headline</h3>
    <p>A one sentence/paragraph summary for the sponsors section.</p>
    <p>A one sentence/paragraph summary for the sponsors section.</p>',
    '<h3 class="font-delta">Another headline</h3>
    <p>A one sentence/paragraph summary for the sponsors section.</p>'
  ] %}
{% endif %}
{% if sponsors is empty %}
  {% set sponsors = [
      {'image': '//placehold.it/130x90', title: '<p>Sponsor name 1</p>'},
      {'image': '//placehold.it/130x90', title: '<p>A slightly longer sponsor name #CMS</p>'},
      {'image': '//placehold.it/220x150', title: '<p>Sponsor name 3</p>'}
  ] %}
{% endif %}

<div class="container">
  <div class="m-block m-block__columns">
    <div class="m-block__column">
      <h2 class="font-gamma m-block__title">{{ title }}</h2>
    </div>
    <div class="m-block__column">

      {% for p in content %}
        {{ p|raw }}
      {% endfor %}

      <div class="m-sponsor-list">
        {% for sponsor in sponsors %}
          {% include path ~ "sponsor/_sponsor.twig" with sponsor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
