@import "../../scss/variables.scss";

.sticky-list {
  &__hero {
    position: relative;
    margin-bottom: -7px;
    height: 225px;
    overflow: hidden;

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &__title {
      width: 100%;
      max-width: 750px;
      margin: auto;

      h2 {
        font-size: 27px;
        font-weight: bold;
        padding-left: 25px;
        color: $color-white;
        position: absolute;
        bottom: 25px;
      }
    }
  }

  &__description {
    padding: 25px;
    max-width: 750px;
    margin: auto;
    margin-top: 0px;

    &.hidden {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @include breakpoint("medium+") {
      display: block;
      padding: 25px;
      max-width: 750px;
      margin: auto;
      margin-top: 0px;
      text-align: center;
    }
  }

  &__section {
    position: relative;

    &__header {
      position: relative;
      z-index: 1;
      padding: 10px 25px;
      background: $color__red--barnes;
      color: $color-white;
      top: 0;
      width: 100%;

      &.fixed {
        position: fixed;
        top: 0;
        z-index: 1;
        box-sizing: border-box;
      }

      &.absolute {
        position: absolute;
      }

      &-text {
        width: 100%;
        max-width: 725px;
        margin: auto;
      }
    }

    &__content {
      padding: 55px 25px 10px;
      max-width: 700px;
      margin: auto;

      &__image-card {
        border: 1px solid $color__border;
        border-radius: 3px;
        padding: 5px 5px 5px;
        margin-bottom: 30px;
        position: relative;

        .art-object__image-information {
          margin-top: -20px;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          overflow-y: scroll;
          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scrollbar-width: none; /* Firefox */

          &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
          }

          &-background {
            transition: all 0.5s linear;
            background-color: rgba(0, 0, 0, 0);
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100%;
            height: fit-content;
            width: 100%;
          }

          &-text {
            visibility: hidden;
            height: max-content;
            display: block;
            color: rgba(225, 225, 225, 1);
            font-weight: bold;
            font-size: large;
            padding: 5px 30px 30px;
          }
        }

        &.description {
          .art-object__image-information.invisible {
            visibility: hidden;
          }

          .overlay-background {
            transition: all 0.5s linear;
            background-color: rgba(0, 0, 0, 0.65);
            border-radius: 3px;

            .overlay-text {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}
