@import "../../scss/variables.scss";

.sticky-list {
  &__hero {
    position: relative;
    margin-bottom: -7px;
    height: 225px;
    overflow: hidden;

    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 0;
    }

    &__text {
      width: 100%;
      
      color: $color-white;
      position: absolute;
      bottom: 25px;
      z-index: 2;

      &-title, &-subtitle {
        max-width: 750px;
        margin: auto;
        padding: 0 25px;
        margin-top: 0;
      }

      &-title {
        font-size: 27px;
        font-weight: bold;
      }

      &-subtitle {
        font-size: 21px;
        font-weight: semiBold;
      }
    }
  }

  &__description {
    padding: 25px;
    max-width: 750px;
    margin: auto;
    margin-top: 0px;

    &.hidden {
      display: none;
    }

    p:first-child {
      margin-top: 0px;
    }
  }

  &__mobile {
    display: none;

    @include breakpoint("medium+") {
      display: block;
      padding: 25px;
      max-width: 750px;
      margin: auto;
      margin-top: 0px;
      text-align: center;
    }
  }

  &__language {
    padding: 25px;
    max-width: 750px;
    margin: auto;
  }
}
