@import '../../scss/variables.scss';

.sticky-list {
    // &__hero {
    //     position: relative;
    //     margin-bottom: -7px;

    //     &__title {
    //         font-size: 27px;
    //         font-weight: bold;
    //         padding-left: 25px;
    //         color: $color-white;
    //         position: absolute;
    //         bottom: 25px;
    //     }
    // }

    &__section {
        &__header {
            position: relative;
            z-index: 1;
            // styling
            padding: 10px 25px;
            background: $color__red--barnes;
            color: $color-white;
            top: 0;
    
            &.fixed {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 0;
                box-sizing: border-box; 
            }
    
            &.absolute {
                position: absolute;
            }
        }

        &__content {
            padding: 10px 25px;
        }
    }
   
}

.tour-page-hero {
    position: relative;
    margin-bottom: -7px;

    .tour-title {
        font-size: 27px;
        font-weight: bold;
        padding-left: 25px;
        color: $color-white;
        position: absolute;
        bottom: 25px;
    }
}