<div class="m-card-event-list m-card-event-list--4">
  <div class="m-card-event vevent">
    <div class="m-card-event__header">
      <div class="m-card-event__tag a-tag a-tag--black">Event tag</div>
      <a class="m-card-event__media-link" href="/static/pages/event.php">
        <img class="m-card-event__media" src="/dist/images/card-event_01.jpg" alt="The name of the event">
      </a>
    </div>
    <div class="m-card-event__body">
      <div class="font-zeta m-card-event__type">Event type</div>
      <h3 class="font-delta m-card-event__title"><a href="/static/pages/event.php">The name of the event</a></h3>
      <div class="dtstart font-delta m-card-event__date">Monday, Aug 7</div>
      <div class="summary m-card-event__summary">
        <p>Summary will sit here.</p>
      </div>
    </div>
  </div>
  <div class="m-card-event vevent">
    <div class="m-card-event__header">
      <div class="m-card-event__tag a-tag a-tag--black">Event tag</div>
      <a class="m-card-event__media-link" href="/static/pages/event.php">
        <img class="m-card-event__media" src="/dist/images/card-event_01.jpg" alt="The name of the event">
      </a>
    </div>
    <div class="m-card-event__body">
      <div class="font-zeta m-card-event__type">Event type</div>
      <h3 class="font-delta m-card-event__title"><a href="/static/pages/event.php">The name of the event</a></h3>
      <div class="dtstart font-delta m-card-event__date">Monday, Aug 7</div>
      <div class="summary m-card-event__summary">
        <p>Summary will sit here.</p>
      </div>
    </div>
  </div>
  <div class="m-card-event vevent">
    <div class="m-card-event__header">
      <div class="m-card-event__tag a-tag a-tag--black">Event tag</div>
      <a class="m-card-event__media-link" href="/static/pages/event.php">
        <img class="m-card-event__media" src="/dist/images/card-event_01.jpg" alt="The name of the event">
      </a>
    </div>
    <div class="m-card-event__body">
      <div class="font-zeta m-card-event__type">Event type</div>
      <h3 class="font-delta m-card-event__title"><a href="/static/pages/event.php">The name of the event</a></h3>
      <div class="dtstart font-delta m-card-event__date">Monday, Aug 7</div>
      <div class="summary m-card-event__summary">
        <p>Summary will sit here.</p>
      </div>
    </div>
  </div>
  <div class="m-card-event vevent">
    <div class="m-card-event__header">
      <div class="m-card-event__tag a-tag a-tag--black">Event tag</div>
      <a class="m-card-event__media-link" href="/static/pages/event.php">
        <img class="m-card-event__media" src="/dist/images/card-event_01.jpg" alt="The name of the event">
      </a>
    </div>
    <div class="m-card-event__body">
      <div class="font-zeta m-card-event__type">Event type</div>
      <h3 class="font-delta m-card-event__title"><a href="/static/pages/event.php">The name of the event</a></h3>
      <div class="dtstart font-delta m-card-event__date">Monday, Aug 7</div>
      <div class="summary m-card-event__summary">
        <p>Summary will sit here.</p>
      </div>
    </div>
  </div>
</div>
