{#

Events card list component (3 in a row)

#}

{# Avoid awkward situation where an include inside an include is rejected by a PHP template #}
{% if path is not defined %}
  {% set path = '../' %}
{% endif %}

<div class="m-card-event-list">
  {% for i in 0..2 %}
    {% include path ~ "card-event/_card-event.twig" %}
  {% endfor %}
</div>
