@import '../../../scss/variables.scss';

.year-input {

    border: none !important; // Overwrite global input style.

    -webkit-appearance: none;
    height: 3px;
    // background: linear-gradient(to right, $color-grey-super-light 0%, $color-grey-super-light 66%, $color-grey-dark 66%, $color-grey-dark 100%);
    //$color-grey-dark;
    
    opacity: 0.5;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 2px solid $color-grey-super-light;
            background: $color-white;
            cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
        // height: 3px;
        // background: red;
    }

    &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $color-white;
        cursor: pointer;
    }
}
