@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.year-input {
    // Override slider css
    .rc-slider {
        // margin-left: 30px;
    }

    .rc-slider-track {
        background-color: $slider-handle-border-color !important;
        height: $slider-track-height;
    }
    .rc-slider-rail {
        background-color: $slider-track-color;
        height: $slider-track-height;
    }
    
    margin-right: 20px; // Make up for padding for no scrollbar.

    @include breakpoint('large+') {
        margin-right: 0px;
    }

    &__header {
        margin: 10px 0;
    }

    &__slider {
        margin-top: 30px;
        margin-bottom: 35px;

        @include breakpoint('large+') {
            margin-bottom: 25px;
        }
    }

    &__text-input-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;

        @include breakpoint('large+') {
            column-gap: 10px;
        }
    }

    &__text-input {
        width: 100%;
        border: 2px solid $color-border;
        color: $color-grey-medium;
        display: block;
        font-size: 18px;
        line-height: 46px;

        padding: 0 22px;

        @include breakpoint('large+') {
            padding: 0 11px;
        }

        &::placeholder {
            color: $color-grey-light;
        }
    }
}
