@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.year-input {
    // Override slider css
    .rc-slider-handle {

        @include breakpoint('large+') {
            height: 12px !important;
            width: 12px !important;
            margin-left: 0px !important;
            margin-top: -4px !important;
        }
    }

    .rc-slider-track {
        background-color: $slider-handle-border-color !important;
        height: $slider-track-height;
    }
    .rc-slider-rail {
        background-color: $slider-track-color;
        height: $slider-track-height;
    }
    
    // Make up for padding for no scrollbar for mobile devices.
    margin-right: 20px; 

    @include breakpoint('large+') {
        margin-right: 0px;
    }

    &__header {
        margin: 10px 0;
    }

    &__slider {
        margin-top: 30px;
        margin-bottom: 35px;

        @include breakpoint('large+') {
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }

    // Override default error margins.
    &__error {
        margin-top: 0;
        margin-bottom: 0;
    }

    // Display inputs as equal items in a grid with some separation via column grid.
    &__text-input-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;

        @include breakpoint('large+') {
            column-gap: 10px;
        }
    }

    &__text-input {
        width: 100%;
        border: 2px solid $color-border;
        color: $color-grey-medium;
        display: block;
        font-size: 18px;
        line-height: 46px;

        padding: 0 22px;

        @include breakpoint('large+') {
            height: 36px;
            padding: 0 11px;
        }

        &::placeholder {
            color: $color-grey-light;
        }
    }

    // Resize button to match input sizes.
    &__button {
        margin-top: 10px;
        width: 100%;
        height: 44px;
        line-height: 41px;
    }

    /** Pin apply section to bottom for large devices. */
    &__bottom {
        @include breakpoint('large+') {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px;
        }
    }
}
