<div class="m-landing-door">
  <div class="m-landing-door__header">
    <a href="#">
      <img class="block-image" src="//placehold.it/1220x580" alt="Landing Door">
    </a>
  </div>
  <div class="m-landing-door__body">
    <h3 class="font-gamma m-landing-door__title">Landing Door</h3>
    <div class="m-landing-door__summary">
      <p>Summary will sit here.</p>
    </div>
    <div class="m-landing-door__link">
      <a class="a-brand-link" href="#">Know more<span class="visuallyhidden"> about Landing Door</span></a>
    </div>
  </div>
</div>
