<div class="m-block m-block--flush-top m-block--no-border">
  <div class="m-product m-product--shopify m-block__columns">
    <div class="m-block__column" data-behavior="ProductGalleryThumbs">
      <div class="m-product__gallery m-product__gallery--shopify">
        <img src="//placehold.it/380x380" alt="">
      </div>
      <ul class="m-product-gallery__thumbs">
        <li class="m-product-gallery__thumb">
          <a href="//placehold.it/380x380">
            <img src="//placehold.it/90x90" alt="">
          </a>
        </li>
        <li class="m-product-gallery__thumb">
          <a href="//placehold.it/375x375">
            <img src="//placehold.it/90x90" alt="">
          </a>
        </li>
        <li class="m-product-gallery__thumb">
          <a href="//placehold.it/390x390">
            <img src="//placehold.it/90x90" alt="">
          </a>
        </li>
      </ul>
    </div>
    <div class="m-block__column">
      <div class="m-product__head">
        <h1 class="font-gamma m-product__title">Masterworks of the Barnes</h1>
      </div>
      <div class="font-delta m-product__prices">
        <del class="m-product__price">$59.99</del>  <ins class="m-product__price">$49.99</ins>
      </div>
      <div class="m-product__actions m-product__actions--first">
        <form class="m-product__form" action="/" method="post">
          <div class="form-field--inline">
            <label class="visuallyhidden" for="select1">Select quantity</label>
            <div class="select select--number_form.ht">
              <select class="select__select" id="select1" required>
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
            <button class="btn btn--primary" type="submit">Add to cart</button>
            <input type="hidden" name="product_id" value="12345">
          </div>
        </form>
      </div>
      <div class="m-product__summary">
        <p>Product summary should be one to two paragraphs. Product summary should be one to two paragraphs</p>
        <p>Product summary should be one to two paragraphs. Product summary should be one to two paragraphs</p>
      </div>
      <div class="m-product__share">
        <div class="m-share html4-hidden" data-behavior="Share">
          <button class="m-share__btn btn btn--icon-only" type="button" aria-expanded="false">
            <svg width="20" height="18">
              <use xlink:href="#icon--icon_share"></use>
            </svg>Share it
          </button>
          <ul class="js-hide m-share__list" data-behavior="SocialSharingButtons" data-share-url="http://www.barnesfoundation.org/page/X" data-share-twitter-via="the_barnes" role="menu">
            <li>
              <button class="m-share__link" type="button" data-social-sharing-facebook role="menuitem">
                <span class="visuallyhidden">Share with </span>
                Facebook
                <span class="visuallyhidden">(opens in a new window)</span>
              </button>
            </li>
            <li>
              <button class="m-share__link" type="button" data-social-sharing-twitter role="menuitem">
                <span class="visuallyhidden">Share with </span>
                Twitter
                <span class="visuallyhidden">(opens in a new window)</span>
              </button>
            </li>
            <li>
              <button class="m-share__link" type="button" data-social-sharing-pinterest role="menuitem">
                <span class="visuallyhidden">Share with </span>
                Pinterest
                <span class="visuallyhidden">(opens in a new window)</span>
              </button>
            </li>
            <li>
              <a class="m-share__link" href="mailto:?Subject=Email%20subject&Body=Email%20body" data-social-sharing-email role="menuitem">
                <span class="visuallyhidden">Share via </span>
                Email
                <span class="visuallyhidden">(opens in your email application)</span>
              </a>
            </li>
            <li>
              <button class="m-share__link" id="shareButton" type="button" title="Copy" data-social-sharing-permalink role="menuitem" data-copy-copied="Copied" data-copy-original="Copy URL">Copy URL</button>
              <input class="m-share__hidden-input" type="text" name="permalink" data-social-sharing-permalink-input value="http://www.barnesfoundation.org/page/X" aria-labelledby="shareButton" tabindex="-1">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
