{#

shopify-subnav component

#}

<nav class="m-shopify-subnav">
  <a class="m-shopify-subnav__link" href="#">Jewelry</a>
  <a class="m-shopify-subnav__link" href="#">Accessories & Apparel</a>
  <a class="m-shopify-subnav__link" href="#">Gifts & Home</a>
  <a class="m-shopify-subnav__link" href="#" aria-current="true">Books & Media</a>
</nav>
