@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

// It looks like we do import this here because there is no jsx for it.
// Though, maybe that means this style shouldn't be in the components folder?
@import '../../components/CollectionFilters/mobileFilters.scss';


.app-landing-page {
  .landing-page-header {
    // the mock shows a font size outside the styleguide
    text-align: center;
    // make it look good on medium screen sizes
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
  }

  .collection-filters-wrap {
    text-align: center;

    .btn-no-style {
      // the styleguide size for btn is too big
      line-height: 2em;
      // this shows up on the small size
      margin-top: 0;
    }

    @include breakpoint('medium-') {
      // stay below the header
      @include set-top-header-height();

      position: sticky;
      background: $color-white;
      // a little less than the styleguide padding
      padding-bottom: 1rem;

      // stay under the header. Unless the mobile-panel is open
      z-index: $z-index-mobile-panel-overlay;
      .mobile-panel-open & {
        z-index: $z-index-mobile-panel;
      }

      .search-results {
        padding-top: 0;
      }
    }
  }

  @media print {
    .mobile-buttons-set {
      display: none;
    }
  }
}
