@import '../../scss/variables.scss';

.landing-page-header {
  text-align: center;

  .h2 {
    margin: 0 auto;
    // the mock shows a font size outside the styleguide
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
  }
}

.collection-filters-wrap {
  text-align: center;
}

@import '../../components/CollectionFilters/collectionFilters.scss';
@import '../../components/SearchInput/searchInput.scss';
@import '../../components/CollectionFilters/mobileFilters.scss';

@media screen and (max-width: 768px) {
  .landing-page-header-wrap.m-block.m-block--no-border.m-block--shallow {
    padding-top: 0;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 425px) {
  .landing-page {
    padding-top: 25px;
    border-top: 1px solid $color-grey-light-2;
  }
}
