<div class="m-shopify-basket">
  <h1 class="page-title page-title--shopify">Your Basket</h1> 
  <form action="/cart" method="post" novalidate class="cart">
    <table>
      <thead class="cart__row cart__header">
        <th colspan="2">Description</th>
        <th class="text-right">Quantity</th>
        <th class="text-right">Price</th>
      </thead>
      <tbody>
        <tr class="cart__row border-bottom line cart-flex">
          <td class="cart__image-wrapper cart-flex-item">
            <a href="#">
              <img class="cart__image" src="//placehold.it/120x120" alt="">
            </a>
          </td>
          <td class="cart__meta small--text-left cart-flex-item">
            <div class="list-view-item__title">
              <a href="#">
                    Product Name
                                      </a>
            </div>
            <p class="small--hide">
              <a href="/cart/change?line=&amp;quantity=0" class="cart__remove a-brand-link font-smallprint">Remove <span class="visuallyhidden">Product title</span></a>
            </p>
          </td>
          <td class="cart__update-wrapper cart-flex-item text-right">
            <a href="/cart/change?line=&amp;quantity=0" class="btn btn--small btn--secondary cart__remove medium-up--hide">Remove <span class="visuallyhidden">Product title</span></a>
            <div class="cart__qty">
              <label for="updates_" class="cart__qty-label visuallyhidden">Quantity</label>
              <input class="cart__qty-input" type="number" name="updates[]" id="updates_" value="1" min="0" pattern="[0-9]*">
            </div>
            <input type="submit" name="update" class="btn btn--small cart__update medium-up--hide" value="Update">
          </td>
          <td class="text-right small--hide">
            <div class="cart-item__original-price"><s>$10</s>
            </div>
            <div class="cart-item__price">
              $9
            </div>
            <div class="cart-item__discount">Discount one</div>
          </td>
        </tr>
        <tr class="cart__row border-bottom line cart-flex">
          <td class="cart__image-wrapper cart-flex-item">
            <a href="#">
              <img class="cart__image" src="//placehold.it/120x120" alt="">
            </a>
          </td>
          <td class="cart__meta small--text-left cart-flex-item">
            <div class="list-view-item__title">
              <a href="#">
                    Product Name
                                      </a>
            </div>
            <p class="small--hide">
              <a href="/cart/change?line=&amp;quantity=0" class="cart__remove a-brand-link font-smallprint">Remove <span class="visuallyhidden">Product title</span></a>
            </p>
          </td>
          <td class="cart__update-wrapper cart-flex-item text-right">
            <a href="/cart/change?line=&amp;quantity=0" class="btn btn--small btn--secondary cart__remove medium-up--hide">Remove <span class="visuallyhidden">Product title</span></a>
            <div class="cart__qty">
              <label for="updates_" class="cart__qty-label visuallyhidden">Quantity</label>
              <input class="cart__qty-input" type="number" name="updates[]" id="updates_" value="1" min="0" pattern="[0-9]*">
            </div>
            <input type="submit" name="update" class="btn btn--small cart__update medium-up--hide" value="Update">
          </td>
          <td class="text-right small--hide">
            <div class="cart-item__original-price"><s>$10</s>
            </div>
            <div class="cart-item__price">
              $9
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <footer class="cart__footer">
      <div class="grid">
        <div class="grid__item medium-up--one-half cart-note">
          <label for="CartSpecialInstructions" class="cart-note__label small--text-center">Note</label>
          <textarea name="note" id="CartSpecialInstructions" class="cart-note__input">Note</textarea>
        </div>
        <div class="grid__item text-right small--text-center">
          <input type="submit" name="update" class="cart__update cart__update--large a-brand-link" value="Update">
          <div>
            <span class="cart__subtotal-title">Subtotal</span>
            <span class="cart__subtotal">$9.99</span>
          </div>
          <div class="cart__savings">
            Savings
            <span class="cart__savings-amount">1</span>
          </div>
          <div class="cart__shipping">Shipping is added at the checkout</div>
          <input type="submit" name="checkout" class="btn btn--primary" value="Checkout">
        </div>
      </div>
    </footer>
  </form>
</div>
