<div class="m-shopify-404">
  <div class="o-hero__inner">
    <div class="container m-shopify-404__container">
      <div class="m-shopify-404__copy">
        <h1 class="font-beta m-shopify-404__title">404. Don’t be afraid, you are not definitely lost</h1>
        <div class="m-shopify-404__summary">
          <p>The page you are looking for is not available. It may have expired or moved.
            <br><a class="a-brand-link" href="/">Click here to continue shopping</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <img class="m-shopify-404__image" src="//placehold.it/1380x570" alt="">
</div>
