<div class="m-story">
  <blockquote class="m-story__quote">
    <p>“Quote.”</p>
  </blockquote>
  <div class="m-story__person">
    <div class="m-story__media">
      <img class="m-story__image" src="//placehold.it/85x85" alt="">
    </div>
    <div class="m-story__supporting">
      <h3 class="font-bold-heading m-story__name">Name of Story-teller <span class="m-story__role">Role</span></h3>
      <div class="m-story__summary">
        <p>Story-teller summary.</p>
      </div>
    </div>
  </div>
</div>
