<div class="m-block m-block--flush-top m-block--no-border m-centered-paragraph">
  <div class="m-centered-paragraph__container">
    <div class="m-story-list">
      <div class="m-story">
        <blockquote class="m-story__quote">
          <p>“This is the quote for story number one it is a little longer than the second quote and it is intended to show the copy breaking onto multiples lines so we can test it on different devices.”</p>
        </blockquote>
        <div class="m-story__person">
          <div class="m-story__media">
            <img class="m-story__image" src="//placehold.it/85x85" alt="">
          </div>
          <div class="m-story__supporting">
            <h3 class="font-bold-heading m-story__name">Person number one <span class="m-story__role">Student</span></h3>
            <div class="m-story__summary">
              <p>This is the summary for story number one.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="m-story">
        <blockquote class="m-story__quote">
          <p>“This is the quote. It is very short.”</p>
        </blockquote>
        <div class="m-story__person">
          <div class="m-story__media">
            <img class="m-story__image" src="//placehold.it/85x85" alt="">
          </div>
          <div class="m-story__supporting">
            <h3 class="font-bold-heading m-story__name">Person number two <span class="m-story__role">Donor</span></h3>
            <div class="m-story__summary">
              <p>This is the summary for story number two it is a little longer than the first summary and it is intended to show the copy breaking onto multiples lines so we can test it on different devices.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>