<div class="m-block m-block__columns">
  <div class="m-block__column">
    <h2 class="font-gamma m-block__title">Program in detail</h2>
  </div>
  <div class="m-block__column">
    <div class="m-timeline">
      <h3 class="font-delta">
          <span class="m-timeline__pre-title">$15.99</span>
          <span class="m-timeline__title">Pre-concert lecture with Spencer Topel</span>
        </h3>
      <div class="m-timeline__summary">
        <p>A one sentence/paragraph summary for the timeline piece.</p>
      </div>
      <div class="m-timeline__cta">
        <p>
          <a class="btn btn--primary" href="">Buy tickets <span class="visuallyhidden"> for Program in detail</span></a>
        </p>
      </div>
    </div>
    <div class="m-timeline">
      <h3 class="font-delta">
          <span class="m-timeline__pre-title">$10.99</span>
          <span class="m-timeline__title">Concert with Pauline Kim harris and Spencer Topel</span>
        </h3>
      <div class="m-timeline__summary">
        <p>A one sentence/paragraph summary for the timeline piece.</p>
      </div>
      <div class="m-timeline__cta">
        <p>
          <a class="btn btn--primary" href="">Buy tickets <span class="visuallyhidden"> for Program in detail</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
