<div class="m-block m-block__columns">
  <div class="m-block__column">
    <h2 class="font-gamma m-block__title">Program in detail</h2>
  </div>
  <div class="m-block__column">
    <div class="m-timeline">
      <h3 class="font-delta">
          <span class="m-timeline__pre-title">7.15pm</span>
          <span class="m-timeline__title">Pre-concert lecture with Spencer Topel</span>
        </h3>
      <div class="m-timeline__summary">
        <p>A one sentence/paragraph summary for the timeline piece.</p>
      </div>
      <div class="m-timeline__media">
        <div class="m-card-artwork" id="1">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/410x300" alt="Timeline artwork title">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Timeline artwork title</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-timeline">
      <h3 class="font-delta">
          <span class="m-timeline__pre-title">9.30pm</span>
          <span class="m-timeline__title">Concert with Pauline Kim harris and Spencer Topel</span>
        </h3>
      <div class="m-timeline__summary">
        <p>A one sentence/paragraph summary for the timeline piece.</p>
      </div>
    </div>
  </div>
</div>
