<div class="m-block m-membership-detail  m-block__columns m-membership-detail--has-image">
  <div class="m-membership-detail__content m-block__column">
    <p>As the Barnes Foundation nears its 100th anniversary, we are looking forward to our next century and all the exciting things we have planned. Here is information about how you can help support us.</p>
    <ul>
      <li>Unlimited admission for two individuals and any children in your household</li>
      <li>Free admission for your guests</li>
      <li>Exclusive programs and lectures to expand your understanding of the collection</li>
      <li>Invitations to exhibition previews</li>
      <li>An invitation to the annual Circles Soirée</li>
      <li>20% discount in the Barnes Shop</li>
      <li>Inclusion in donor recognition materials, including the Circles member list and Annual Report</li>
      <li>A dedicated Circles phone line for personal handling of tour arrangements and other VIP services</li>
      <li>Exclusive day trips and regional travel opportunities, as available</li>
    </ul>
    <div class="m-btn-group m-membership-detail__btn-group">
      <a class="btn" href="#">Give a Gift</a>
      <a class="btn" href="#">Renew</a>
      <a class="btn btn--primary" href="#">Join</a>
    </div>
    <div class="m-membership-detail__post-summary">
      <p>Already a member? <a class="a-brand-link" href="#">Verify membership</a>
      </p>
    </div>
  </div>
  <div class="m-block__column m-membership-detail__media">
    <img class="m-membership-detail__image" src="//placehold.it/592x376" alt="Annenberg Court">
    <div class="m-membership-detail__media-title">
      Annenberg Court
    </div>
    <div class="m-membership-detail__media-copyright font-smallprint">&copy; 2017 The Barnes Foundation</div>
  </div>
</div>
