@import '../../scss/variables.scss';

.collection-filters {
  .collection-filter-icon {
    margin-right: .5em;
    vertical-align: middle;
    // make it appear slightly more centered with the font
    margin-top: -0.08em;
  }

  .btn-collection-filter {
    height: auto;
    width: auto;
    min-width: 0;
    padding: 0;
    padding-bottom: 30px;
    background: white;
    border: none;
    border-bottom: 5px solid transparent;
    margin-left: 0;
    margin-right: 55px;
    line-height: normal;
    cursor: pointer;

    &.is-selected,
    &:hover,
    &:active {
      color: $color-red-barnes;
      border-color: $color-red-barnes;
    }

    &--shuffle,
    &--search {
      margin-right: 0;

      .button-inner {
        position: relative;
        padding: 0 $collection-filter-item-margin;

        // make a vert centered border with a height to match the larger icons
        &:before {
          display: block;
          left: 0;
          content: '';
          position: absolute;
          height: $collection-filter-icon-font-size;
          border-left: 1px solid #dcdcdc;
          transform: translateY(-50%);
          top: 50%;
        }

        .collection-filter-icon {
          // use scale instead of a smaller font so that the
          // height stays consistent to ensure the border below doesn't jump
          transform: scale($collection-filter-icon-font-size-sm-scale);
          margin-right: 0;
        }
      }
    }

    .collection-filter-icon {
      margin-right: 15px;
      font-size: $collection-filter-icon-font-size;
    }
  }

  .collection-filters-set {
    height: 0;
    padding: 0;

    &.is-open {
      height: 90px;
      padding-top: 40px;
    }
  }
}

.color-filters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  .color-filter {
    flex-grow: 1;
    height: 100%;
    width: auto;
    min-width: auto;
    padding: 0;
    border: 3px solid transparent;
    outline: 0;
    margin: 0;
    &:hover,
    &.is-applied {
      border-color: black;
    }
  }
}

.line-filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .line-filter {
    height: 50px;
    min-height: 0;
    padding: 0 20px;
    margin: 0;
    margin-right: 10px;
    font-size: 17px;
    line-height: normal;
    text-transform: capitalize;

    &:last-of-type {
      margin-right: 0;
    }

    &.is-applied {
      background: black;
      border-color: black;
      color: white;
    }
  }
}

.applied-filter-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
}

.applied-filter-tag {
  display: flex;
  align-items: center;
  height: 40px;
  background: transparent;
  padding: 0 20px;
  outline: none;
  border: 2px solid $color-grey-super-light;
  border-radius: 25px;
  margin: 0 12px 0 0;
  cursor: pointer;
  .icon-cross-tag {
    width: 10px;
    height: 10px;
  }
  .color-filter-icon {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 0;
    margin-right: 10px;
    margin-left: -10px;
  }
}
