@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.collection-filters-wrapper {
  display: grid;
  justify-content: center;
}

.applied-filters {
  width: 100%;

  @include breakpoint('medium-') {
    border: none;
  }
}

.collection-filters {
  padding-left: 0%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 3fr;
  align-items: center;

  @include breakpoint('medium+') {
    padding-left: 3%;
    width: 97%;
    max-width: 810px;
    grid-template-columns: 2fr 2fr 2fr 2fr 4fr;
  }

  .icon {
    vertical-align: middle;
    // make it appear slightly more centered with the font
    margin-top: -0.08em;
    margin-right: .5em;
  }

  .label {
    margin-left: .5em;
  }

  .btn-collection-filter {
    display: block;

    // Changed for redesign
    background: white;
    border: none;
    border-bottom: 5px solid transparent;
  
    
    margin-left: 0;
    line-height: normal;
    cursor: pointer;
    padding: 20px 0px 15px 0px;
    

    @include breakpoint('medium+') {
      // border-top: 5px solid transparent;
      min-width: 120px;
    }

    &.is-selected,
    &:hover,
    &:active {
      color: $color-red-barnes;
      border-color: $color-red-barnes;
    }

    .button-inner {
      margin-left: 10px;
      margin-right: 0px;

      @include breakpoint('medium+') {
        margin-left: 0px;
        margin-right: 20px;
      }
      display: inline;
    }

    &:last-of-type {
      margin-left: 0;
    }

    // &--shuffle,
    &--search {
      // margin-right: 0;

      .button-inner {
        position: relative;
        padding: 0 $collection-filter-item-margin;
        margin-left: 0;

        // make a vert centered border with a height to match the larger icons
        &:before {
          display: block;
          left: 0;
          content: ' ';
          position: absolute;
          height: $collection-filter-icon-font-size;
          border-left: 1px solid #dcdcdc;
          transform: translateY(-50%);
          top: 50%;
        }

        .collection-filter-icon {
          // use scale instead of a smaller font so that the
          // height stays consistent to ensure the border below doesn't jump
          transform: scale($collection-filter-icon-font-size-sm-scale);
        }
      }
    }

    // &--shuffle {
    //   .collection-filter-icon {
    //     margin-right: 0;
    //   }
    // }

    .collection-filter-icon {
      font-size: $collection-filter-icon-font-size;
    }
  }

  .collection-filters-set {
    height: 0;
    padding: 0;

    &.is-open {
      min-height: 90px;
      height: auto;
      padding-top: 40px;
    }
  }
}

.color-filters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  .btn-filter {
    flex-grow: 1;
    height: 100%;
    width: auto;
    min-width: auto;
    padding: 0;
    border: 3px solid transparent;
    outline: 0;
    margin: 0;
    &:hover,
    &.is-applied {
      border-color: black;
    }
  }
}

.line-filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;

  .btn-filter {
    height: 50px;
    min-height: 0;
    padding: 0 20px;
    margin: 0;
    margin-right: 10px;
    font-size: 17px;
    line-height: normal;
    text-transform: capitalize;
    // margin bottom for if they wrap
    margin: 0 12px 12px 0;

    &:last-of-type {
      margin-right: 0;
    }

    &.filter-style-radio {
      margin-right: 0;
      border-right-width: $collection-filter-border-size / 2;
      border-left-width: $collection-filter-border-size / 2;

      &:last-child {
        // reset just the last child
        border-right-width: $collection-filter-border-size;
      }

      &:first-child {
        // reset just the last child
        border-left-width: $collection-filter-border-size;
      }
    }

    &.is-applied {
      background: black;
      border-color: black;
      color: white;
    }
  }
}

.applied-filter-tags-container-wrap {
  @include clearfix();

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $mobile-filters-section-padding;

  .flex-right {
    // make them stay left and right
    margin-left: auto;
  }

  .btn-filter-shuffle {
    display: none;
  }

  @include breakpoint('medium-') {
    padding-top: 0;
    // let the tags and the 'clear all' button wrap
    display: block;

    .flex-right {
      text-align: left;
    }

    .btn-filter-shuffle {
      float: right;
      display: inline-block;
    }
  }
}

.applied-filter-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.hidden {
    display: none;
  }
}

// todo #unifyFilterTags :Unify these with other filter tag styles
.applied-filter-tag {
  display: flex;
  align-items: center;
  background: transparent;
  outline: none;
  border: $collection-filter-border-size solid $color-grey-super-light;
  border-radius: 25px;
  cursor: pointer;
  padding: $collection-filter-padding-y $collection-filter-padding-x;
  // margin bottom for if they wrap
  margin: 6px 12px 6px 0;

  .icon {
    align-self: center;
  }

  .filter-tag-text {
    font-size: 16px;
    margin-right: 10px;
  }

  .icon-cross-tag {
    width: 10px;
    height: 10px;
    margin: 0;
  }

  .color-filter-icon {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: 0;
    margin-right: 10px;
  }
}
