@import '../../scss/variables.scss';

.btn-open-mobile-filters {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: $z-index-mobile-filters-btn-open;
  height: 50px;
  padding: 0 $mobile-filters-section-padding;
  border: $collection-filter-border-size solid rgba(0,0,0,0.2);
  border-radius: 25px;
  background: white;
  cursor: pointer;
}

.mobile-filters-overlay,
.mobile-filters-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.mobile-filters-overlay {
  min-width: 100%;
  width: 100vw;
  background: rgba(0,0,0,0.7);
  z-index: $z-index-mobile-filters-overlay;
  cursor: pointer;
}

.mobile-filters-panel {
  width: $mobile-filters-panel-width;
  background: white;
  z-index: $z-index-mobile-filters-panel;
  overflow-y: scroll;

  .component-slider {
    margin-bottom: 0;
  }

  .mobile-apply-button-placeholder {
    // make it look nice when the panel is scrolled all the way down
    padding-bottom: 56px;
  }

  .mobile-apply-button-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: $mobile-filters-panel-width;
    padding: $mobile-filters-pill-padding;
  }

  .mobile-apply-button {
    width: 100%;
  }
}

.mobile-filters-section {
  padding: $mobile-filters-section-padding;
  border-top: 1px solid $color-grey-light;
  text-align: left;

  &.search-input {
    // todo: hide for now!
    display: none;
  }

  form {
    margin-top: 0;
  }

  .color-filters-container {
    flex-wrap: wrap;
    height: 140px;

    .color-filter {
      height: calc(100%/4);
      width: calc(100%/5);
    }
  }

  .line-filters-container {
    flex-direction: column;
    width: 100%;

    .line-filters-group {
      display: flex;
      flex-direction: row;
      width: 100%;

      .line-filter {
        height: auto;
        min-height: 50px;
        min-width: 0;
        padding: 10px 0;

        .collection-filter-icon {
          display: block;
          width: 100%;
          margin: 0;
          margin-bottom: 4px;
        }
      }

      &:first-of-type {
        margin-bottom: $mobile-filters-pill-padding;
        flex-wrap: wrap;

        .line-filter {
          width: calc(50% - 5px);
          margin: 0 $mobile-filters-pill-padding $mobile-filters-pill-padding 0;

          &:nth-of-type(2n) {
            margin-right: 0;
          }
        }
      }

      &:last-of-type {
        .line-filter {
          width: calc(100%/3);
          border-width: $collection-filter-border-size 1px;
          margin: 0;

          &:first-of-type {
            border-left-width: $collection-filter-border-size;
          }

          &:last-of-type {
            border-right-width: $collection-filter-border-size;
          }
        }
      }
    }
  }
}

.mobile-filters-header {
  margin-top: 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}
