@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.dropdowns-menu {
    text-align: left;

    // For Mobile
    // display: grid;
    // grid-template-rows: repeat(6, 1fr);
    
    &__button {
        // Font
        color: $color-grey-dark;
        font-weight: bold;
        font-size: 17px;

        // Spacing
        position: relative;
        padding-top: 30px;
        text-align: left;
        margin-right: 40px;

        // Button styling
        border: none;
        background: transparent;
        cursor: pointer;

        // For dividing line before last item.
        &--last {
            padding-left: 30px;
            &:before {
                display: block;
                left: 0;
                content: ' ';
                position: absolute;
                height: $collection-filter-icon-font-size;
                border-left: 1px solid $color-grey-light;
                transform: translateY(-50%);
                top: 80%;
            }
        }

        @include breakpoint('medium+') {
            // min-width: 120px;
        }
    }

    &__button-content {
        margin-right: 5px;
    }

    &__icon {
        position: absolute;
        top: 29px; // TODO => Fix this magic string.
        font-size: 21px;

        &--active {
            transform: rotate(-180deg);
        }
    }
}

.dropdown {
    // Element positioning relative to parent button.
    position: absolute;
    top: 60px;
    left: -20px;
    z-index: 5;

    // Dropdown dimensions
    width: 210px;
    height: 300px;

    // Styling
    background-color: white;
    border: 2px solid $color-border;
    cursor: default;

    // Margins/Padding
    padding: 10px 20px;

    // Scrollbar
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 22px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        min-height: 120px;
        background-color: $color-border;
        border: solid 8px white;
    }


    // Header item
    &__header {
        position: relative;
        margin-bottom: 10px;

        &--text {
            margin-top: 0; // Remove default font-gamma margin.
            margin-bottom: 15px;
        }
    }

    // For x and check marks.
    &__icon {
        // Positioning
        position: absolute;
        right: -11px;
        top: 3px;

        font-size: 12px;

        &:hover {
            cursor: pointer;
        }

        // Pad down x mark.
        &--x {
            right: -10px;
            top: 10px;

            font-size: 11px;
        }

        &--artist {
            position: relative;
            margin-bottom: 2px;
        }
    }

    &__content {
        font-weight: normal;
        font-size: 15px;
    }

    &__list {
        margin: 0;
    }

    &__list-item {
        position: relative;
        margin: 0 0 10px 0;
        
        &--active,
        &:hover {
            cursor: pointer;
            color: $color-red-barnes;
        }
    }
}