@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.dropdowns-menu {
    $self: &;
    text-align: left;

    @include breakpoint('medium-') {
        display: none;
    }

    &--active {
        @include breakpoint('medium-') {
            margin-top: 30px;
            display: flex;
            flex-direction: column;

            #{ $self }__button {
                border-top: 1px solid $color-border;
                border-left: 1px solid $color-border;
                border-right: 1px solid $color-border;

                &--last {
                    border-bottom: 1px solid $color-border;
                }

                margin-right: 0;
                padding: 20px 15px;

                background-color: $color-white;
            }

            #{ $self }__icon {
                top: 19px; // Replicate padding.
                right: 20px;
                transform: rotate(-90deg);
                display: inline;
            }
        }
    }


    &__button-wrapper {
        @include breakpoint('large+') {
            position: relative;
        }

        display: inline;
    }
    
    &__button {
        // Font
        color: $color-grey-dark;
        font-weight: bold;
        font-size: 17px;

        // Spacing
        position: relative;
        padding-top: 30px;
        text-align: left;
        margin-right: 40px;

        // Button styling
        border: none;
        background: transparent;
        cursor: pointer;

        width: 100%;

        @include breakpoint('large+') {
            width: auto;
        }

        // For dividing line before last item.
        &--last {
            @include breakpoint('large+') {
                padding-left: 30px;
                &:before {
                    display: block;
                    left: 0;
                    content: ' ';
                    position: absolute;
                    height: $collection-filter-icon-font-size;
                    border-left: 1px solid $color-grey-light;
                    transform: translateY(-50%);
                    top: 80%;
                }
            }
        }
    }

    &__button-content {
        margin-right: 5px;
    }

    &__icon {
        position: absolute;
        top: 29px; // TODO => Fix this magic string.
        font-size: 21px;

        &--active {
            transform: rotate(-180deg);
        }

        &--last {
            display: none;
        }
    }
}

.dropdown {
    cursor: default;

    @include breakpoint('medium-') {
        display: grid;
        grid-template-rows: 60px 1fr;
    }

    position: absolute;
    z-index: 5;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: $color-grey-ultra-light-2;

    @include breakpoint('large+') {
        // Style scrollbar
        @include scrollbar();
        overflow-x: hidden;

        // Element positioning relative to parent button.
        position: absolute;
        top: 40px;
        left: -20px;

        // Dropdown dimensions
        width: 210px;
        height: 300px;

        // Styling
        background-color: white;
        border: 2px solid $color-border;

        // Margins/Padding
        padding: 10px 20px;
    }


    // Header item
    &__header {
        cursor: pointer;

        &--text {
            font-size: 21px;
        }

        margin-top: 15px;
        padding: 0px 40px 15px 40px;

        border-bottom: 1px solid $color-border;
        
        @include breakpoint('large+') {
            cursor: default;
            display: block;

            font-size: 25px;

            position: relative;

            padding: 0;
            border-bottom: none;
            margin-top: 0;
            margin-bottom: 5px;

            &--text {
                font-size: 25px;

                margin-top: 0; // Remove default font-gamma margin.
                margin-bottom: 15px;
            }
        }
    }

    // For x and check marks.
    &__icon {
        // Positioning
        position: absolute;

        right: -11px;
        top: 3px;

        font-size: 12px;

        &:hover {
            cursor: pointer;
        }

        // Pad down x mark.
        &--x {
            display: none;
            

            @include breakpoint('large+') {
                display: inline;

                right: -10px;
                top: 15px;

                font-size: 11px;
            }
        }

        &--back {
            display: inline-block;
            font-size: 19px;
            position: relative;
            transform: rotate(90deg);
            margin-right: 20px;

            @include breakpoint('large+') {
                display: none;
            }
        }

        &--artist {
            position: relative;
            margin-bottom: 2px;

            @include breakpoint('medium-') {
                position: absolute;
                right: 10px;
                top: 13px;
            }
        }
    }

    &__content {
        font-weight: normal;
        font-size: 15px;

        @include scrollbar($color-grey-ultra-light-2);
        overflow-x: hidden;

        margin-top: 10px;
        padding: 0px 40px 15px 40px;

        @include breakpoint('large+') {
            overflow-x: none;
            overflow-y: none;
            padding: 0;
            margin-top: 0;
        }
    }

    &__list {
        margin: 0;
    }

    &__list-item {
        position: relative;
        margin: 0;

        line-height: 40px;

        @include breakpoint('large+') {
            line-height: 30px;
        }
        
        &--active,
        &:hover {
            cursor: pointer;
            color: $color-red-barnes;
        }
    }
}