@import '../../scss/variables.scss';
@import '../../scss/_mixins.scss';

$button-width: 60px;
$button-margin: 15px;

.search {
  $self: &;

  background-color: $color-grey-ultra-light-2;
  padding: 30px 40px;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  @include breakpoint('medium-') {
    border-left: none;
    border-right: none;
  }

  &__searchbar {
    display: grid;
    grid-template-columns: calc(100% - 115px) 60px;

    // Hide button for search on mobile devices.
    @include breakpoint('small-') {
      grid-template-columns: none;
    }
  }

  &__input-group {
    position: relative;
    width: 100%;
  }

  &__input {
    margin-right: 20px;
    border: 2px solid $color-border;
    width: calc(100% - 25px);

    @include breakpoint('small-') {
      width: 100%;
    }

    color: $color-grey-medium;
    display: block;
    font-size: 18px;
    line-height: 56px;
    padding: 0 22px;

    &::placeholder {
      color: $color-grey-light;
    }
  }

  &__button {
    font-weight: normal;
    font-size: 18px;
    width: $button-width;

    @include breakpoint('small-') {
      display: none;
    }
  }
}

.search-information {
  $self: &;

  &:hover {
    #{ $self }__tooltip{
      display: block;
    }
  }

  &__icon {
    // Hide icon for smaller viewports.
    @include breakpoint('medium-') {
      display: none;
    }

    position: absolute;
    top: 22px;
    right: 45px;

    color: $color-grey-light;

    &--x {
      color: $color-black;
      font-size: 9px;
      top: 16px;
      right: 15px;
    }
  }

  &__tooltip {
    z-index: 5;
    text-align: left;
    display: none; // On .search-information hover, change to display: block.

    position: absolute;
    top: 5px;
    right: 30px;

    max-width: 300px;

    background-color: $color-white;
    border: 2px solid $color-border;
    box-shadow: 1px 1px 10px $color-grey-light;

    padding: 10px 40px 10px 10px;

    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
  }
}

.search-results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  text-align: left;
  font-family: 'Calibre';
  font-size: 30px;

  @include breakpoint('large+') {
    padding-top: 50px;
  }

  @include breakpoint('medium-') {
    font-size: inherit;
  }

  p {
    margin-top: 0;
  }
}
