@import '../../scss/variables.scss';
@import '../../scss/_mixins.scss';

$button-width: 60px;
$button-margin: 15px;

.search {
  background-color: $color-grey-ultra-light-2;
  padding: 30px;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  
  // .form-field {
  //   display: flex;
  //   margin-bottom: 0;
  // }

  &__content {
    
  }

  &__searchbar {
    display: grid;
    grid-template-columns: calc(100% - 115px) 60px;
  }

  &__input {
    padding-right: 25px;
    border: 2px solid $color-border;
    width: calc(100% - 25px);

    color: #8c8c8c;
    display: block;
    font-size: 18px;
    line-height: 60px;
    padding: 0 22px;

    // &.mobile {
    //   font-size: 17px;
    // }
  }

  &__button {
    width: $button-width;
  }
}

.search-results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  text-align: left;
  font-family: 'Calibre';
  font-size: 30px;

  @include breakpoint('large+') {
    padding-top: 50px;
  }

  @include breakpoint('medium-') {
    font-size: inherit;
  }

  p {
    margin-top: 0;
  }
}
