@import '../../scss/variables.scss';
@import '../../scss/_mixins.scss';

$button-width: 60px;
$button-margin: 15px;

.search {
  $self: &;

  position: relative;

  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;

  padding: 0px 40px 30px 40px; // Header applies spacing.

  background-color: $color-grey-ultra-light-2;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $color-border;

  @include breakpoint('medium+') {
    padding: 30px 40px; 
  }

  @include breakpoint('large+') {
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    overflow: initial;
  }

  &--active {
    @include breakpoint('medium-') {
      overflow-y: hidden;
    }
  }

  &__searchbar {
    display: grid;
    grid-template-columns: calc(100% - 115px) 60px;

    // Hide button for search on mobile devices.
    @include breakpoint('small-') {
      grid-template-columns: none;
    }
  }

  &__input-group {
    position: relative;
    width: 100%;
  }

  &__input {
    margin-right: 20px;
    border: 2px solid $color-border;
    width: calc(100% - 25px);
    color: $color-grey-medium;
    display: block;
    font-size: 18px;
    line-height: 56px;
    padding: 0 22px;

    &::placeholder {
      color: $color-grey-light;
    }

    @include breakpoint('small-') {
      width: 100%;
    }
  }

  &__button {
    font-weight: normal;
    font-size: 18px;
    width: $button-width;

    @include breakpoint('small-') {
      display: none;
    }
  }

  &__header {
    text-align: left;
    padding: 15px 0;

    @include breakpoint('medium+') {
      display: none;
    }
  }
}

.search-information {
  $self: &;

  &:hover {
    #{ $self }__tooltip{
      display: block;
    }
  }

  &__icon {
    // Hide icon for smaller viewports.
    @include breakpoint('medium-') {
      display: none;
    }

    position: absolute;
    top: 22px;
    right: 45px;

    color: $color-grey-light;

    &--x {
      color: $color-black;
      font-size: 9px;
      top: 16px;
      right: 15px;
    }
  }

  &__tooltip {
    z-index: 5;
    text-align: left;
    display: none; // On .search-information hover, change to display: block.

    position: absolute;
    top: 5px;
    right: 30px;

    max-width: 300px;

    background-color: $color-white;
    border: 2px solid $color-border;
    box-shadow: 1px 1px 10px $color-grey-light;

    padding: 10px 40px 10px 10px;

    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
  }
}

.search-results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  text-align: left;
  font-family: 'Calibre';
  font-size: 30px;

  @include breakpoint('large+') {
    padding-top: 50px;
  }

  @include breakpoint('medium-') {
    font-size: inherit;
  }

  p {
    margin-top: 0;
  }
}


/***
search-suggestion
======
* Class name: `-m-search-suggestion`
* Modifier classes: `-m-search-suggestion--`
* Tags used on: `<div>`
***/

.m-search-suggestion {
  position: relative;

  background: $color__white;
  border-top: 1px solid $color__border;
  border-left: 1px solid $color__border;
  border-right: 1px solid $color__border;

  box-shadow: none;
  color: $color__copy--light;
  font-size: 16px;
  display: block;
  padding: 10px 15px;

  text-decoration: none;
  position: relative;
  width: 100%;

  // Hide border for top element so it sits flush w/ search box.
  &:first-of-type {
    border-top: none;
  }

  // Last item will be search all.
  &:last-of-type {
      background: $color__red--barnes;
      color: $color__white;
  }

  &__icon {
    margin-top: 5px;
    margin-right: 15px;
  }

  &__search-all {
    position: absolute;
    bottom: 18px;

    @include breakpoint('medium+') {
      bottom: 22px;
    }
  }

  & strong {
      color: $color__black;
      font-weight: normal;
  }

  @include breakpoint('medium+') {
      font-size: 20px;
      padding: 15px 20px;
  }

  &:hover {
    background: #f7f7f7;
  
    &:last-of-type {
      background: $color__red--barnes-dark
    }
  }

}

#suggestions {
  position: absolute;
  z-index: #{map-get($zIndexes, 'header')};
  left: 0;

  box-shadow: $box-shadow-style;

  width: calc(100% - 25px);

  @include breakpoint('small-') {
    width: 100%;
  }
}