<div class="m-shopify-print-banner">
  <div class="container">
    <div class="m-shopify-print-banner__copy">
      <h1 class="font-gamma m-shopify-print-banne__title">Discover the Print Shop</h1>
      <div class="m-shopify-print-banner__summary">
        <p>Visit our Barnes Print Shop to purchase reproductions from the collection!</p>
        <p><a href="#">Shop Now</a>
        </p>
      </div>
    </div>
  </div>
  <img class="m-shopify-print-banner__image" src="//placehold.it/670x350" alt="">
</div>
