@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.component-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: $z-index-modal;
  overflow-y: scroll;
  background: $color-white;
  padding-top: $block-margin-small;
  -webkit-overflow-scrolling: touch;

  &[data-modal-is-open="false"] {
    display: none;
  }

  .btn-wrap {
    // needed for some screensizes where the container has padding
    position: relative;
  }

  .btn-close {
    position: absolute;
    z-index: $z-index-modal-x;
    border: none;
    background: none;
    right: 0;
    top: 26px;
    cursor: pointer;
  }

  @include breakpoint('small-') {
    .btn-close {
      position: relative;
      text-align: right;
      width: 100%;
      top: 0;
      margin-bottom: $block-margin-small / 2
    }
  }
}

@media print {
  .component-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: auto;
    overflow-y: visible;
  }
}