@import '../../scss/variables.scss';

.component-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: $z-index-modal;
  overflow-y: auto;
  background: $color-white;

  &[data-modal-is-open="false"] {
    display: none;
  }

  .btn-close {
    border: none;
    background: none;
  }
}