@import '../../scss/variables.scss';

.g-header {
  z-index: $z-index-g-header;
  background-color: transparent;

  .g-header__btn__search {
    // hide on the collections site
    display: none;
  }
}