@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

// Adding this to remove 70px paddingfor mobile header.
html:not([class=""]) {
  padding-top: 0px;
}

// This is to adjust hero width.
.o-hero {
  &__copy {
    @include breakpoint('medium+') {
      width: 91%;
    }
  }
}

.g-header {
  z-index: $z-index-g-header;
  position: absolute;

  .g-header__btn__search {
    // hide on the collections site
    display: none;
  }
}