@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

// Adding this to remove 70px paddingfor mobile header.
html:not([class=""]) {
  padding-top: 0px;
}

// This is to adjust hero width.
.o-hero {
  &__copy {
    @include breakpoint('medium+') {
      width: 91%;
    }
  }
}

.g-header {
  $self: &;

  z-index: 5; // $z-index-g-header;
  position: fixed;
  top: 0;

  &__nav {
    &__link {
      &--active {
        color: $color__red--barnes !important;
        border-color: $color__red--barnes;
      }
    }

    &--hidden {
      #{ $self }__nav {
        &__link {
          display: none;
        }
      }
    }
  }

  &--unlocked {
    position: fixed;

    transform: translate3d(0,-1200%,0);

    @include breakpoint('medium+') {
      transform: translate3d(0,-600%,0);
    }
  }

  &--locked {
    position: fixed;
    color: $color-red-barnes-logo !important;
    background-color: $color-white !important;
    
    transform: translate3d(0,0,0);

    #{ $self } {
      &__nav {
        &__btn,
        &__link {
          color: $color-black;

          &:hover,
          &--active {
            color: $color__red--barnes;
          }
        }
      }
    }
  }

  
}

.art-object-header {
  &--absolute {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .g-header {
    position: relative;
    color: $color-red-barnes-logo;


    &__nav {
      &__btn {
        color: $color-black;

        &:hover {
          color: $color__red--barnes;
        }
      }

      &__link {
        color: $color-black;

        &[aria-current] {
          color: $color__red--barnes;
        }

        &:hover {
          color: $color__red--barnes;
        }
      }
    }
  }
}

.header-mobile-links-section {
  background-color: $color-white;
  height: 45px !important; // Overwrite .g-header > .container
  padding-bottom: 3px;
  border-top: 1px solid $color-grey-super-light;
  border-bottom: 1px solid $color-grey-super-light;

  &__link {
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: $color__red--barnes;
  }

  // Hide mobile section on all larger sizes.
  @include breakpoint('small+') {
    background-color: transparent;
    display: none;
    height: 0px !important;
    margin: 0;
    padding: 0;
    border: none;

    &__link {
      display: none;
    }
  }
}

.global-search {
  background-color: white;
  width: 100%;

  padding-top: 20px;
  overflow-y: inherit;

  @include breakpoint('small-') {
    max-height: calc(100vh - 100px); // 100 = g-header height + this elements 20px padding + 10 for padding.
    overflow-y: scroll;
  }

  @include breakpoint('medium+') {
    max-height: none;
    padding-top: 35px;
  }

  @include breakpoint('large+') {
    padding-top: 10px;
    overflow-y: inherit;
  }

  &__buttons-area {
    padding-top: 30px;
    padding-bottom: 30px;

    @include breakpoint('medium+') {
      padding-bottom: 60px;
    }
  }

  &__button {
    width: auto;

    @include breakpoint('small-') {
    }

    margin-left: 0 !important;
    margin-right: 15px;
    margin-top: 10px !important;
    margin: 10px 15px 0 0 !important;
  }

  &__buttons-term {
    font-weight: bold;
    font-size: 18px;
    color: $color-grey-light;
  }

  &__buttons-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: left;
  }
}
