<div class="m-block">
  <div class="m-block__columns m-block__columns--reverse">
    <div class="m-block__column">
      <img class="m-block__image" src="//placehold.it/500x300" alt="">
    </div>
    <div class="m-block__column">
      <p>Additional exclusive benefits including private events and travel opportunities are available through our premier membership program, The Circles, and our young patrons membership, The Contemporaries.</p>
      <p>Additional exclusive benefits including private events and travel opportunities are available through our premier membership program, The Circles, and our young patrons membership, The Contemporaries.</p>
    </div>
  </div>
</div>
