<ul class="m-list">
  <li class="m-list__item">
    Angella Dewalt
  </li>
  <li class="m-list__item">
    Ezra Gordillo
  </li>
  <li class="m-list__item">
    Cherrie Bement
  </li>
  <li class="m-list__item">
    Maudie Klee
  </li>
  <li class="m-list__item">
    Cornelia Meachum
  </li>
  <li class="m-list__item">
    Kristeen Degenhardt
  </li>
  <li class="m-list__item">
    Kareen Limberg
  </li>
  <li class="m-list__item">
    Melda Hammack
  </li>
  <li class="m-list__item">
    Daniela Hagins
  </li>
  <li class="m-list__item">
    Kirstin Bessler
  </li>
</ul>
