<div class="o-slider-gallery">
  <div class="container">
    <div class="m-block__columns">
      <div class="m-block__column">
        <h2 class="font-gamma m-block__title">Slider gallery</h2> 
      </div>
      <div class="m-block__column">
        <p>Additional exclusive benefits including private events and travel opportunities are available through our premier membership program, The Circles, and our young patrons membership, The Contemporaries.</p>
      </div>
    </div>
  </div>
  <div class="m-block__media o-slider-gallery__stage">
    <div class="container">
      <div class="o-slider-gallery__container" data-behavior="SliderGallery">
        <style scoped>
          #m-card-artwork-0 {
              width: 180px;
            }            @media print, screen and (min-width: 650px) {
              #m-card-artwork-0 {
                width: 227px;
              }
            }            @media screen and (min-width: 990px) {
              #m-card-artwork-0 {
                width: 300px;
              }
            }
        </style>
        <div class="m-card-artwork" id="m-card-artwork-0">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/300x450" alt="Artwork title 0">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 0</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
        <style scoped>
          #m-card-artwork-1 {
              width: 132px;
            }            @media print, screen and (min-width: 650px) {
              #m-card-artwork-1 {
                width: 166px;
              }
            }            @media screen and (min-width: 990px) {
              #m-card-artwork-1 {
                width: 220px;
              }
            }
        </style>
        <div class="m-card-artwork" id="m-card-artwork-1">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/220x450" alt="Artwork title 1">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 1</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
        <style scoped>
          #m-card-artwork-2 {
              width: 132px;
            }            @media print, screen and (min-width: 650px) {
              #m-card-artwork-2 {
                width: 166px;
              }
            }            @media screen and (min-width: 990px) {
              #m-card-artwork-2 {
                width: 220px;
              }
            }
        </style>
        <div class="m-card-artwork" id="m-card-artwork-2">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/220x450" alt="Artwork title 2">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 2</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
        <style scoped>
          #m-card-artwork-3 {
              width: 132px;
            }            @media print, screen and (min-width: 650px) {
              #m-card-artwork-3 {
                width: 166px;
              }
            }            @media screen and (min-width: 990px) {
              #m-card-artwork-3 {
                width: 220px;
              }
            }
        </style>
        <div class="m-card-artwork" id="m-card-artwork-3">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/220x450" alt="Artwork title 3">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 3</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
        <style scoped>
          #m-card-artwork-4 {
              width: 180px;
            }            @media print, screen and (min-width: 650px) {
              #m-card-artwork-4 {
                width: 227px;
              }
            }            @media screen and (min-width: 990px) {
              #m-card-artwork-4 {
                width: 300px;
              }
            }
        </style>
        <div class="m-card-artwork" id="m-card-artwork-4">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/300x450" alt="Artwork title 4">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 4</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
        <style scoped>
          #m-card-artwork-5 {
              width: 121px;
            }            @media print, screen and (min-width: 650px) {
              #m-card-artwork-5 {
                width: 153px;
              }
            }            @media screen and (min-width: 990px) {
              #m-card-artwork-5 {
                width: 202px;
              }
            }
        </style>
        <div class="m-card-artwork" id="m-card-artwork-5">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/202x450" alt="Artwork title 5">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 5</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
        <style scoped>
          #m-card-artwork-6 {
              width: 156px;
            }            @media print, screen and (min-width: 650px) {
              #m-card-artwork-6 {
                width: 196px;
              }
            }            @media screen and (min-width: 990px) {
              #m-card-artwork-6 {
                width: 260px;
              }
            }
        </style>
        <div class="m-card-artwork" id="m-card-artwork-6">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/260x450" alt="Artwork title 6">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 6</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
        <style scoped>
          #m-card-artwork-7 {
              width: 180px;
            }            @media print, screen and (min-width: 650px) {
              #m-card-artwork-7 {
                width: 227px;
              }
            }            @media screen and (min-width: 990px) {
              #m-card-artwork-7 {
                width: 300px;
              }
            }
        </style>
        <div class="m-card-artwork" id="m-card-artwork-7">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/300x450" alt="Artwork title 7">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 7</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
        <style scoped>
          #m-card-artwork-8 {
              width: 150px;
            }            @media print, screen and (min-width: 650px) {
              #m-card-artwork-8 {
                width: 189px;
              }
            }            @media screen and (min-width: 990px) {
              #m-card-artwork-8 {
                width: 250px;
              }
            }
        </style>
        <div class="m-card-artwork" id="m-card-artwork-8">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/250x450" alt="Artwork title 8">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 8</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
        <style scoped>
          #m-card-artwork-9 {
              width: 210px;
            }            @media print, screen and (min-width: 650px) {
              #m-card-artwork-9 {
                width: 264px;
              }
            }            @media screen and (min-width: 990px) {
              #m-card-artwork-9 {
                width: 350px;
              }
            }
        </style>
        <div class="m-card-artwork" id="m-card-artwork-9">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/350x450" alt="Artwork title 9">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 9</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
        <style scoped>
          #m-card-artwork-10 {
              width: 180px;
            }            @media print, screen and (min-width: 650px) {
              #m-card-artwork-10 {
                width: 227px;
              }
            }            @media screen and (min-width: 990px) {
              #m-card-artwork-10 {
                width: 300px;
              }
            }
        </style>
        <div class="m-card-artwork" id="m-card-artwork-10">
          <div class="m-card-artwork__header">
            <a href="/static/pages/exhibition.php">
              <img class="m-card-artwork__media" src="//placehold.it/300x450" alt="Artwork title 10">
            </a>
          </div>
          <div class="m-card-artwork__body">
            <h3 class="font-bold-heading m-card-artwork__title">
              <a href="/static/pages/exhibition.php">Artwork title 10</a>
          </h3>
            <div class="m-card-artwork__summary font-smallprint">
              <p>Summary will sit here.</p>
              <p>Summary will sit here.</p>
            </div>
            <div class="m-card-artwork__copyright font-smallprint">&copy; &copy; 2017 Name of someone</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>