@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.share {

    display: flex;
    justify-content: center;
    position: relative;

    @include breakpoint('medium+') {

        &--right {
            float: right;
            margin-left: calc(40% - 110px);
        }

        &--center {
            float: none;
        }
    }
}

.share-dialog {
    background: white;
    color: $color__copy--medium;
    border: 1px solid $color__border;
    padding: 30px;
	width: 175px;
    position: absolute;
    top: -210px;

    text-align: left;
    
    z-index: 10;

    @include breakpoint('small-') {
        left: calc(50% - 87.5px);
    }


    &__link {
        text-decoration: none;
        display: block;

        &:hover {
            cursor: pointer;
        }
    }
}