@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

@mixin beforeContent() {
    content: " ";
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 1px;
    margin: 0 8px 0 0;
    width: 12px;
    height: 12px;
    border-radius: 11px;
}

.g-nav-overlay {
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s ease;

    &--transition {
        width: 100%;
    }

    &--active {
        cursor: default; // This is to prevent pointer for artists.
        
        overflow: hidden;
        height: 100vh;
        left: 0;
        opacity: 0.2;
        position: fixed;
        top: 0;
        z-index: 6;
        
        @media print {
            display: none;
        }
    }
}

.side-menu {
    font-weight: normal;


    /**
    * Overwrite how .g-nav class behaves from components-barnes-toolkit/scss/state/_nav-active.scss;
    */
    &--active {
        .g-nav {
            // transform: translate3d(-100%, 0, 0) !important;
            &__inner {
                // Style scrollbar
                @include scrollbar();
            }
        }
    }

    &__header {
        padding-top: 24px;
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;

        @include breakpoint('medium+') {
            font-size: 32px;
            line-height: 40px;
        }

        @include breakpoint('large+') {
            font-size: 38px;
            line-height: 50px;
        }
    }

    &__radio-selection-container {
        padding: 18px 0;
        margin: 0 0 24px 0;
        display: grid;
        grid-template-columns: repeat(2, 140px);

        &:hover {
            cursor: pointer;
        }
    }

    &__radio-container {
        position: relative;
    }

    &__radio {
        display: none;

        &:checked {
            background-color: $color-red-barnes;
        }
    }

    &__radio-text {
        $radioText: &;

        position: absolute;

        &:hover {
            color: $color-red-barnes;
        }

        &:before {
            @include beforeContent();
            border: 1px solid $color-grey-light;
            background-color: transparent;
        }

        &:hover {
            &:before{
                @include beforeContent();
                border: 1px solid $color-red-barnes;
                background-color: transparent;
            }
        }

        &--active {
            &:before {
                @include beforeContent();
                border: 4px solid $color-red-barnes;
                background-color: $color-white;
            }

            &:hover {
                &:before {
                    @include beforeContent();
                    border: 4px solid $color-red-barnes;
                    background-color: $color-white;
                }
            }
        }
    }

    &__artist {
        line-height: 24px;

        &:hover {
            cursor: pointer;
        }
    }

    &__artist-doc-count {
        color: $color-grey-medium;
    }
}

.g-nav {

    $self: &;
    z-index: 8;

    &--active {
        transform: translate3d(-100%, 0, 0);
    }

    
    &--custom {
        cursor: default;
        color: $color-black;

        #{ $self }__inner {
            cursor: default;
            background-color: $color-white;
        }

        .g-nav-overlay {
            cursor: default;
        }
    }

    &--main {
        .g-nav__link {
            &:focus {
                outline-color: $color-white !important;
            }
        }
        
        #{ $self }__close {
            color: $color-white !important;
    
            &:hover,
            &:focus {
                outline-color: $color-white !important;

                svg {
                    color: $color__nav--hover !important;
                }
            }
        }
    }
}