<div class="m-block m-block--no-border m-shopify-collection">
  <ul class="m-shopify-collection__list">
    <li class="m-shopify-collection__item">
      <h3 class="font-delta m-shopify-collection__title">
        <a href="#" class="m-shopify-collection__link">Jewelry</a>
      </h3>
      <div class="m-shopify-collection__image-container">
        <img class="m-shopify-collection__image" src="//placehold.it/460x460" alt="">
      </div>
    </li>
    <li class="m-shopify-collection__item">
      <h3 class="font-delta m-shopify-collection__title">
        <a href="#" class="m-shopify-collection__link">Accessories &amp; Apparel</a>
      </h3>
      <div class="m-shopify-collection__image-container">
        <img class="m-shopify-collection__image" src="//placehold.it/460x460" alt="">
      </div>
    </li>
    <li class="m-shopify-collection__item">
      <h3 class="font-delta m-shopify-collection__title">
        <a href="#" class="m-shopify-collection__link">Gifts &amp; Home</a>
      </h3>
      <div class="m-shopify-collection__image-container">
        <img class="m-shopify-collection__image" src="//placehold.it/460x200" alt="">
      </div>
    </li>
    <li class="m-shopify-collection__item">
      <h3 class="font-delta m-shopify-collection__title">
        <a href="#" class="m-shopify-collection__link">Jewelry</a>
      </h3>
      <div class="m-shopify-collection__image-container">
        <img class="m-shopify-collection__image" src="//placehold.it/460x460" alt="">
      </div>
    </li>
    <li class="m-shopify-collection__item">
      <h3 class="font-delta m-shopify-collection__title">
        <a href="#" class="m-shopify-collection__link">Accessories &amp; Apparel</a>
      </h3>
      <div class="m-shopify-collection__image-container">
        <img class="m-shopify-collection__image" src="//placehold.it/460x460" alt="">
      </div>
    </li>
  </ul>
</div>
