@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.g-footer {
  // a regular container is not full-bleed for large screen sizes
  .container-wrap-fullscreen {
    background: $color-grey-ultra-light-2;
  }

  &__donate {
    .h4 {
      // make the text match the mock
      max-width: 400px;
      margin-bottom: 10px;
    }
  }

  &__details {
    .h2 {
      // bump up from 15px
      font-size: 16px;
      color: $color-grey-light;
      margin-top: 0;
    }
  }

  // Take some padding from the col wrapper
  // to give each stacked col some padding of its own.
  @include breakpoint('small-') {
    .m-block.m-block__columns {
      padding-bottom: 0;

      > .m-block__column {
        padding-bottom: 30px;
      }
    }
  }

  @include stacking-btn-margin-fix();
}
