@import '../../scss/variables.scss';

.g-footer {
  &__container-top {
    background: $color-grey-ultra-light-2;
  }

  &__donate {
    .h4 {
      // make the text match the mock
      max-width: 400px;
    }
  }

  &__details {
    .h2 {
      // bump up from 15px
      font-size: 16px;
      color: $color-grey-light;
      margin-top: 0;
    }
  }
}
