@import '../../../scss/variables.scss';
@import '../../../scss/_mixins.scss';

.art-object-page__panel-ensemble {
  .art-object__header {
    display: block;
    text-align: center;

    .h2,
    .h3 {
      margin-top: 0;
    }

    // todo: try to find styleguide standards instead
    .h2 {
      font-size: 25px;
      font-weight: bold;
    }
    .h3 {
      font-size: 19px;
      color: $color-grey-medium;
    }
  }

  @include breakpoint('small-') {
    .art-object__image-page-centered {
      max-width: 100%;
    }

    .art-object__header .h2 {
      margin-top: 15px;
    }
  }

  .art-object__image-container {
    clear: both;
  }
}
