{#

pagination component

#}

<div class="m-pagination">
  <span class="prev"><a href="#" title="">« Previous</a></span>
  <span class="page"><a href="#" title="">1</a></span>
  <span class="page current">2</span>
  <span class="next"><a href="#" title="">Next »</a></span>
</div>
