<div class="m-block m-shopify-product-list">
  <h1 class="font-gamma m-block__title">Collection title</h1>
  <ul class="m-shopify-product-list__list">
    <li class="m-shopify-product-list__item">
      <span class="a-tag a-tag--sale m-shopify-product-list__tag">New</span> 
      <a href="#" class="m-shopify-product-list__image-container">
        <img class="m-shopify-product-list__image" src="//placehold.it/380x380" alt="Product name 1">
      </a>
      <div>
        <h3 class="font-bold-heading m-shopify-product-list__title">
          <a href="#" class="m-shopify-product-list__link">Product name 1</a>
        </h3>
        <p class="font-smallprint m-shopify-product-list__price">$19.99</p>
      </div>
    </li>
    <li class="m-shopify-product-list__item">
      <a href="#" class="m-shopify-product-list__image-container">
        <img class="m-shopify-product-list__image" src="//placehold.it/320x400" alt="Accessories &amp;amp; Apparel">
      </a>
      <div>
        <h3 class="font-bold-heading m-shopify-product-list__title">
          <a href="#" class="m-shopify-product-list__link">Accessories &amp; Apparel</a>
        </h3>
        <p class="font-smallprint m-shopify-product-list__price">$19.99</p>
      </div>
    </li>
    <li class="m-shopify-product-list__item">
      <span class="a-tag a-tag--sale m-shopify-product-list__tag">New</span> 
      <a href="#" class="m-shopify-product-list__image-container">
        <img class="m-shopify-product-list__image" src="//placehold.it/380x380" alt="Gifts &amp;amp; Home">
      </a>
      <div>
        <h3 class="font-bold-heading m-shopify-product-list__title">
          <a href="#" class="m-shopify-product-list__link">Gifts &amp; Home</a>
        </h3>
        <p class="font-smallprint m-shopify-product-list__price">$19.99</p>
      </div>
    </li>
    <li class="m-shopify-product-list__item">
      <span class="a-tag a-tag--sale m-shopify-product-list__tag">New</span> 
      <a href="#" class="m-shopify-product-list__image-container">
        <img class="m-shopify-product-list__image" src="//placehold.it/380x380" alt="Product name 4">
      </a>
      <div>
        <h3 class="font-bold-heading m-shopify-product-list__title">
          <a href="#" class="m-shopify-product-list__link">Product name 4</a>
        </h3>
        <p class="font-smallprint m-shopify-product-list__price">$19.99</p>
      </div>
    </li>
    <li class="m-shopify-product-list__item">
      <a href="#" class="m-shopify-product-list__image-container">
        <img class="m-shopify-product-list__image" src="//placehold.it/380x100" alt="Accessories &amp;amp; Apparel">
      </a>
      <div>
        <h3 class="font-bold-heading m-shopify-product-list__title">
          <a href="#" class="m-shopify-product-list__link">Accessories &amp; Apparel</a>
        </h3>
        <p class="font-smallprint m-shopify-product-list__price">$19.99</p>
      </div>
    </li>
    <li class="m-shopify-product-list__item">
      <span class="a-tag a-tag--sale m-shopify-product-list__tag">New</span> 
      <a href="#" class="m-shopify-product-list__image-container">
        <img class="m-shopify-product-list__image" src="//placehold.it/400x400" alt="Gifts &amp;amp; Home">
      </a>
      <div>
        <h3 class="font-bold-heading m-shopify-product-list__title">
          <a href="#" class="m-shopify-product-list__link">Gifts &amp; Home</a>
        </h3>
        <p class="font-smallprint m-shopify-product-list__price">$19.99</p>
      </div>
    </li>
  </ul>
</div>
