@import '../../../scss/variables.scss';
@import '../../../scss/_mixins.scss';

.art-object-page__panel-ensemble {
  .art-object__header {
    display: block;
    text-align: center;

    .h3 {
      margin-top: 15px;
      font-weight: bold;
      font-size: 20px;
      line-height: 1.25em;
    }

    .h2 {
      margin-top: 50px;
      font-size: 48px;
      line-height: 1.08em;
      font-weight: bold;
    }
  }

  @include breakpoint('small-') {
    .art-object__image-page-centered {
      max-width: 100%;
    }

    .art-object__header {
      .h2 {
        margin-top: 40px;
        font-size: 40px;
      }
    }
  }

  .art-object__image-container {
    clear: both;
  }
}
