<div class="o-hero o-hero--event">
  <div class="o-hero__inner">
    <div class="container">
      <div class="o-hero__copy">
        <div class="o-hero__pre-title font-zeta">Nightlife / Performance</div>
        <h1 class="o-hero__title"><a href="">Solo series concert: the modern violin</a></h1>
        <p class="o-hero__supporting gamma">Monday, April 3. 2&ndash;2:30pm</p>
      </div>
      <div class="o-hero__extras font-smallprint">
        <div class="m-share html4-hidden" data-behavior="Share">
          <button class="m-share__btn btn btn--icon-only" type="button" aria-expanded="false">
            <svg width="20" height="18">
              <use xlink:href="#icon--icon_share"></use>
            </svg>Share it
          </button>
          <ul class="js-hide m-share__list" data-behavior="SocialSharingButtons" data-share-url="http://www.barnesfoundation.org/page/X" data-share-twitter-via="the_barnes" role="menu">
            <li>
              <button class="m-share__link" type="button" data-social-sharing-facebook role="menuitem">
                <span class="visuallyhidden">Share with </span>
                Facebook
                <span class="visuallyhidden">(opens in a new window)</span>
              </button>
            </li>
            <li>
              <button class="m-share__link" type="button" data-social-sharing-twitter role="menuitem">
                <span class="visuallyhidden">Share with </span>
                Twitter
                <span class="visuallyhidden">(opens in a new window)</span>
              </button>
            </li>
            <li>
              <button class="m-share__link" type="button" data-social-sharing-pinterest role="menuitem">
                <span class="visuallyhidden">Share with </span>
                Pinterest
                <span class="visuallyhidden">(opens in a new window)</span>
              </button>
            </li>
            <li>
              <a class="m-share__link" href="mailto:?Subject=Email%20subject&Body=Email%20body" data-social-sharing-email role="menuitem">
                <span class="visuallyhidden">Share via </span>
                Email
                <span class="visuallyhidden">(opens in your email application)</span>
              </a>
            </li>
            <li>
              <button class="m-share__link" id="shareButton" type="button" title="Copy" data-social-sharing-permalink role="menuitem" data-copy-copied="Copied" data-copy-original="Copy URL">Copy URL</button>
              <input class="m-share__hidden-input" type="text" name="permalink" data-social-sharing-permalink-input value="http://www.barnesfoundation.org/page/X" aria-labelledby="shareButton" tabindex="-1">
            </li>
          </ul>
        </div>
        <a class="o-hero__hashtag" href="#">#KimHarris</a>
      </div>
    </div>
  </div>
  <picture>
    <source media="(min-width: 990px)" srcset="/dist/images/cover-event_d.jpg" type="image/jpeg">
      <source media="(min-width: 650px)" srcset="/dist/images/cover-event_t.jpg" type="image/jpeg">
        <img class="o-hero__image" src="/dist/images/cover-event_m.jpg" alt="">
  </picture>
</div>
<div class="o-hero__caption font-smallprint">
  <div class="container">
    Image caption
  </div>
</div>
