<div class="o-hero o-hero--page-title" style="background-color: #123456">
  <div class="o-hero__inner">
    <div class="container">
      <h1 class="page-title">This is the page title</h1>
    </div>
  </div>
  <picture>
    <source class="o-hero__image" media="(min-width: 990px)" srcset="/dist/images/cover-plan-your-visit_d.jpg" type="image/jpeg">
      <source class="o-hero__image" media="(min-width: 650px)" srcset="/dist/images/cover-plan-your-visit_t.jpg" type="image/jpeg">
        <img class="o-hero__image" src="/dist/images/cover-plan-your-visit_m.jpg" alt="">
  </picture>
</div>
<div class="container">
  <div class="m-page-intro">
    <div class="m-page-intro__summary font-chapo">
      <p>The art of the page summary: convince people in a small paragraph that the rest of the page is worth reading...</p>
    </div>
  </div>
</div>
