<div class="o-hero o-hero--home" data-behavior="HomeHeroClick HomeHeroHeight">
  <div class="o-hero__inner">
    <div class="container">
      <div class="o-hero__copy">
        <div class="o-hero__pre-title font-zeta">Current Exhibition</div>
        <h2 class="o-hero__title"><a href="#">This is a homepage hero</a></h2>
        <p class="o-hero__supporting">Until May 22, 2017</p>
      </div>
    </div>
  </div>
  <picture>
    <source media="(min-width: 990px)" srcset="/dist/images/cover-home_d_01.jpg" type="image/jpeg">
      <source media="(min-width: 650px)" srcset="/dist/images/cover-home_t_01.jpg" type="image/jpeg">
        <img class="o-hero__image" src="/dist/images/cover-home_m_01.jpg" alt="">
  </picture>
</div>
