// import setup/_variables too here
// because setup/_mixins doesn't seem to explicitly declare that dependency
@import '../components-barnes-toolkit/scss/setup/_variables.scss';
@import '../components-barnes-toolkit/scss/setup/_mixins.scss';

// add Mixins here
@mixin stacking-btn-margin-fix() {
  .m-btn-group {
    margin-top: 0;

    &:first-child,
    .btn {
      margin-top: 17px;
    }
  }
}

@mixin set-top-header-height() {
  top: $g-header-height-xsmall;

  // match the header heights in the styleguide
  @include breakpoint('medium+') {
    top: $g-header-height-medium;
  }

  @include breakpoint('large+') {
    top: $g-header-height-large;
  }

  @include breakpoint('xlarge+') {
    top: $g-header-height-xlarge;
  }
}