@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  color: $color-site;
}

ul,
li {
  list-style: none;
}

// todo: consider moving. Not sure yet how to structure these kind of style overrides.
.container-inner-narrow {
  max-width: $content-narrow-width;
  margin: 0 auto;
}

// todo:
.todo-slider {
  color: #ddd;
  padding: 6px 0;
}

.no-br {
  white-space: nowrap;
}

@include breakpoint('small-') {
  .br-large-only {
    display: none;
  }
}