@import './variables.scss';
@import './mixins.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

ul,
li {
  list-style: none;
}

// todo: consider moving. Not sure yet how to structure these kind of style overrides.
.container-inner-narrow {
  max-width: $content-narrow-width;
  margin: 0 auto;
}

// todo:
.todo-slider {
  color: #ddd;
  padding: 6px 0;
}

.no-br {
  white-space: nowrap;
}

.color-medium {
  color: $color-grey-medium;
}

.btn {
  &:focus {
    border-color: $color-grey-light;
    color: $color-grey-dark
  }
}

// do our best to use a custom break to make text look like the mock.
// but let smaller screen sizes wrap as they need to
@include breakpoint('large-') {
  .br-large-only {
    display: none;
  }
}

.a-brand-link--block {
  display: block;
}
