@import './variables.scss';
@import './mixins.scss';
@import './style-components/loading-icon.scss';
@import './style-components/nav.scss';

html {
  &.modal-open {
    &,
    body {
      height: 100%;
      width: 100%;
      overflow: auto;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

ul,
li {
  list-style: none;
}

// todo: consider moving. Not sure yet how to structure these kind of style overrides.
.container-inner-narrow {
  max-width: $content-narrow-width;
  margin: 0 auto;
}

.no-br {
  white-space: nowrap;
}

.color-medium {
  color: $color-grey-medium;
}

.btn {
  &:focus {
    border-color: $color-grey-light;
    color: $color-grey-dark
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

// do our best to use a custom break to make text look like the mock.
// but let smaller screen sizes wrap as they need to
@include breakpoint('large-') {
  .large-only {
    display: none;
  }
}
@include breakpoint('small-') {
  .medium-and-up {
    display: none;
  }
}

.a-brand-link--block {
  display: block;
}

// Small style tweak for this plugin's default padding.
.__react_component_tooltip {
  padding: $tooltip-padding !important;
}

.btn-no-style {
  width: auto;
  min-width: auto;
  height: auto;
  min-height: auto;
  padding: 0;
  border: none;
  outline: none;
  margin: 0;
}
