// colors
$color-black: #000;
// todo: these are just test colors. Use the styleguide
$color-grey-dark: #333;
$color-grey-light: #ccc;

$color-site: $color-black;
$font-family: sans-serif;
$font_path: '/fonts/';