@import '../components-barnes-toolkit/scss/setup/_variables.scss';
@import '../components-barnes-toolkit/scss/setup/_colors.scss';

// colors
$color-black: #000;
$color-grey-dark: #282828;
$color-grey-medium: #6e6e6e;
$color-grey-light: #b4b4b4;
$color-grey-super-light: #dcdcdc;
$color-grey-ultra-light: #f0f0f0;
// the approved mock is slightly different from the AI file
$color-grey-ultra-light-2: #f7f7f7;

// tie over from barnes variables to match recommened styles.
$color-red-barnes: $color__red--barnes;

$content-narrow-width: 800px;
$image-page-centered-perc: 65%;

$color-site: $color-black;
$font-family: sans-serif;
$font_path: '/fonts/';

$border-style: 1px solid #dcdcdc;

// art object grid
$art-object-grid-gap: 4px;
$art-object-overlay-border-width: 20px;

// z-indexes
$z-index-art-object-grid-overlay: 2;
$z-index-art-object-grid-view-more: 3;
