@import '../components-barnes-toolkit/scss/setup/_variables.scss';
@import '../components-barnes-toolkit/scss/setup/_colors.scss';

// colors
$color-white: #ffffff;
$color-black: #000000;
$color-grey-dark: #282828;
$color-grey-medium: #6e6e6e;
$color-grey-light: #b4b4b4;
$color-grey-super-light: #dcdcdc;
$color-grey-ultra-light: #f0f0f0;
// the approved mock is slightly different from the AI file
$color-grey-ultra-light-2: #f7f7f7;

// tie over from barnes variables to match recommened styles.
$color-red-barnes: $color__red--barnes;
$color-red-barnes-logo: $color__logo;

$color-border: $color__border;

$content-narrow-width: 800px;
$image-page-centered-perc: 65%;

$color-site: $color-black;

// from ../components-barnes-toolkit/scss/setup/_typography.scss
$font-family: 'Calibre', sans-serif;
$font_path: '/fonts/';

$border-style: 1px solid $color-border;
$box-shadow-style: 0px 1px 4px $color-border;

// block margins
// from /src/components-barnes-toolkit/components/block/_block.scss
$block-margin-small: 30px;

// art object grid
$art-object-grid-gap: 4px;
$art-object-overlay-border-width: 20px;

// z-indexes
// please note that many style guide z-indexes are set here:
// src/components-barnes-toolkit/scss/setup/_variables.scss
$z-index-art-object-grid-overlay: 2;
$z-index-art-object-grid-view-more: 2;
$z-index-loading-overlay: 2;
$z-index-modal-x: 2;
$z-index-mobile-panel-overlay: 3;
$z-index-g-header: 4;
$z-index-mobile-panel: 5;
$z-index-mobile-filters-btn-open: 6;
// cover the filters-btn-open
$z-index-modal: 7;
// bump this up as well to cover the filters-btn-open
$z-index-g-nav: 8;
// stay on top of the modal
$z-index-rc-slider-tooltip: 9;
// also win out over the sliders
$z-sticky-filter-tags: 10;

// icon styles
$collection-filter-item-margin: $block-margin-small;
$collection-filter-icon-font-size: 1.75em;
$collection-filter-icon-font-size-sm-scale: .8;

// plugin component styles
// slider
$slider-label-min-width: 100px;
$slider-label-padding: 40px;
$slider-track-height: 5px;
$slider-handle-size: 30px;
$slider-track-color: $color-grey-light;
$slider-handle-border-color: $color-grey-medium;

// collection-filters
$collection-filter-padding-y: 9px;
$collection-filter-padding-x: 16px;
$collection-filter-border-size: 2px;

// mobile-filters
$mobile-panel-width: calc(100vw - 50px);
$mobile-filters-section-padding: 25px;
$mobile-filters-pill-padding: 10px;


// tooltip
$tooltip-padding: 8px 14px;

// mapbox
$mapbox-aspect-ratio: .65;
$mapbox-controls-border: 2px solid $color-white;
$mapbox-controls-size: 1.75em;

$loading-overlay-opacity: .6;

// explicitly define header heights that are calculated in the styleguide
// because we need them for the position: sticky elements
$g-header-height-xsmall: #{map-get($headerHeights, 'xsmall')}; /* 1 */
$g-header-height-medium: #{map-get($headerHeights, 'medium')}; /* 1 */
$g-header-height-large: #{map-get($headerHeights, 'large')}; /* 1 */
$g-header-height-xlarge: #{map-get($headerHeights, 'xlarge')}; /* 1 */

$color-grey-light-accessibility: darken($color__copy--light, 10%);