<div class="m-block m-block--shallow">
  <div class="m-block__columns">
    <div class="m-block__column m-block__columns">
      <div class="m-block__column">
        <img class="m-block__image" src="//placehold.it/276x180" alt="">
      </div>
      <div class="m-block__column">
        <h2 class="font-delta m-block__shallow-title">Image block with sponsors</h2>
      </div>
    </div>
    <div class="m-block__column">
      <p>Content</p>
      <div class="m-sponsor-list">
        <div class="m-sponsor">
          <div class="m-sponsor__media">
            <img src="//placehold.it/130x90" alt="">
          </div>
          <div class="m-sponsor__summary">
            <p>
              <p>Sponsor name 1</p>
            </p>
          </div>
        </div>
        <div class="m-sponsor">
          <div class="m-sponsor__media">
            <img src="//placehold.it/220x150" alt="">
          </div>
          <div class="m-sponsor__summary">
            <p>
              <p>A slightly longer sponsor name #CMS</p>
            </p>
          </div>
        </div>
        <div class="m-sponsor">
          <div class="m-sponsor__media">
            <img src="//placehold.it/220x150" alt="">
          </div>
          <div class="m-sponsor__summary">
            <p>
              <p>Sponsor name 3</p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
