<div class="container">
  <div class="m-block">
    <div class="m-block__columns m-block__columns--reverse">
      <div class="m-block__column">
        <h2 class="font-gamma m-block__title">A block in reverse</h2>
      </div>
      <div class="m-block__column">
        <p>And a keyline above it</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="m-block m-block--shallow m-block__columns">
    <div class="m-block__column">
      <h2 class="font-delta m-block__shallow-title">
        <a class="m-block__link" href="#">A linked shallow block</a>
      </h2>
    </div>
    <div class="m-block__column">
      <p>Some blocks have shallower padding and a link. Used in press releases</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="m-block m-block--shallow m-block__columns">
    <div class="m-block__column">
      <h2 class="font-delta m-block__shallow-title">
        <a class="m-block__link" href="#">A linked shallow block</a>
      </h2>
      <div class="font-delta color-light m-block__subtitle">February 2, 2017</div>
    </div>
    <div class="m-block__column">
      <p>Some blocks have shallower padding, a link, and a date. Used in press releases</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="m-block">
    <div class="m-block__columns">
      <div class="m-block__column m-block__column--one-third">
        <h2 class="font-gamma m-block__title">A block with 1/3 and 2/3 width columns</h2>
      </div>
      <div class="m-block__column m-block__column--two-thirds">
        <p>And a keyline above it</p>
      </div>
    </div>
  </div>
</div>

<div class="m-block m-block--alt">
  <div class="container">
    <div class="m-block__columns">
      <div class="m-block__column">
        <h2 class="font-gamma m-block__title">An off-white block with columns</h2>
      </div>
      <div class="m-block__column">
        <p>And a keyline above it. Note how the .container is inside the .m-block - not outside it</p>
      </div>
    </div>
  </div>
</div>

<div class="m-block m-block--brand m-block--no-border">
  <div class="container">
    <div class="m-block__columns">
      <div class="m-block__column">
        <h2 class="font-gamma m-block__title">An red block with columns</h2>
      </div>
      <div class="m-block__column">
        <p>No keyline above it. Note how the .container is inside the .m-block - not outside it</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="m-block m-block--no-border">
    <div class="m-block__columns">
      <div class="m-block__column">
        <h2 class="font-gamma m-block__title">A block with no keyline above it</h2>
      </div>
      <div class="m-block__column">
        <p>but still has columns</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="m-block m-block--no-border m-block--flush-top">
    <div class="m-block__columns">
      <div class="m-block__column">
        <h2 class="font-gamma m-block__title">A block with a no keyline above it</h2>
      </div>
      <div class="m-block__column">
        <p>and no padding at the top&hellip; You can see how one block can flow into another</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="m-block">
    <h2 class="font-gamma m-block__title">A block with a keyline above it</h2>
    <p>but no columns</p>
  </div>
</div>
