<nav class="m-shopify-nav">
  <a class="m-shopify-nav__link" href="#">Jewelry</a>
  <a class="m-shopify-nav__link" href="#">Accessories & Apparel</a>
  <a class="m-shopify-nav__link" href="#">Gifts & Home</a>
  <a class="m-shopify-nav__link" href="#" aria-current="true">Books & Media</a>
  <a class="m-shopify-nav__link" href="#">Barnes Kids</a>
  <a class="m-shopify-nav__link" href="#">Paper & Stationery</a>
  <a class="m-shopify-nav__link" href="#">Gift Cards</a>  <a class="m-shopify-nav__link m-shopify-nav__link--print" href="#">Print shop
    <svg width="17" height="10">
      <use xlink:href="#icon--icon_external"></use>
    </svg>
  </a>
</nav>
