@import '../../scss/variables.scss';
@import '../../scss/_mixins.scss';

.component-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  &[data-label-style="inline"] {
    // restrict the styles to this breakpoint
    // in otherwords, don't use inline on the small breakpoint
    @include breakpoint('medium+') {
      flex-wrap: nowrap;

      // give it a min width as large as the largest label
      // which prevents the slider from jumping sideways when you switch tabs
      .slider-label {
        min-width: $slider-label-min-width;
      }

      .slider-label-right {
        text-align: right;
        padding-left: $slider-label-padding;
      }

      .slider-label-left {
        text-align: left;
        padding-right: $slider-label-padding;
      }

      .show-for-style-inline {
        display: block;
      }

      .hide-for-style-inline {
        display: none;
      }

      .slider {
        // vertical center it
        margin-top: 10px;
        width: auto;
        align-content: stretch;
        flex-grow: 1;
      }
    }
  }

  .slider-label {
    white-space: nowrap;
    font-size: 17px;
    color: $color-grey-medium;
  }

  // override rc-slider styles
  .rc-slider {
    padding: 0;
    margin-bottom: 8px;
  }

  .rc-slider-handle {
    border-color: $slider-handle-border-color;
    height: $slider-handle-size;
    width: $slider-handle-size;
    margin-left: -$slider-handle-size / 2;
    margin-top: -$slider-handle-size / 2 + $slider-track-height / 2;
  }

  .rc-slider-track,
  .rc-slider-rail {
    background-color: $slider-track-color;
    height: $slider-track-height;
  }

}

// override rc-slider tooltip styles
.rc-slider-tooltip {
  opacity: 0.9;
  z-index: $z-index-rc-slider-tooltip;

  .rc-slider-tooltip-inner {
    // copy tooltip styles
    height: auto;
    font-size: 13px;
    padding: $tooltip-padding;
    background-color: #222;
    color: #fff;
    border-radius: 3px;
  }

  .rc-slider-tooltip-arrow {
    border-top-color: #222 !important;
    margin-left: -6px !important;
    bottom: 2px !important;
    border-width: 6px 6px 0 !important;
  }
}
